In [1]:
from src.all_in_one import *
from src.dataset_aggregator import *
from src.basic_variables import *
from src.rebuild_dataframe import *

## CONCATENATION

In [2]:
files = r"../data/processed/hsh_report"
result_df = read_and_concatenate_datasets(
    files,
    file_type='auto',
    file_pattern='*.csv',
    read_kwargs={'encoding': 'utf8'},
    error_handling='skip'
)

2024-10-16 02:41:53,545 - INFO - Successfully read and processed: ../data/processed/hsh_report\adv324.csv
2024-10-16 02:41:53,561 - INFO - Successfully read and processed: ../data/processed/hsh_report\cws324.csv
2024-10-16 02:41:53,561 - INFO - Successfully read and processed: ../data/processed/hsh_report\gc324.csv
2024-10-16 02:41:53,561 - INFO - Successfully read and processed: ../data/processed/hsh_report\ic324.csv
2024-10-16 02:41:53,577 - INFO - Successfully read and processed: ../data/processed/hsh_report\intake324.csv
2024-10-16 02:41:53,577 - INFO - Successfully read and processed: ../data/processed/hsh_report\pei324.csv
2024-10-16 02:41:53,577 - INFO - Successfully read and processed: ../data/processed/hsh_report\psfua1224.csv
2024-10-16 02:41:53,577 - INFO - Successfully read and processed: ../data/processed/hsh_report\psfua324.csv
2024-10-16 02:41:53,577 - INFO - Successfully read and processed: ../data/processed/hsh_report\psfua624.csv
2024-10-16 02:41:53,592 - INFO - Successfully read and processed: ../data/processed/hsh_report\ptfua1224.csv
2024-10-16 02:41:53,592 - INFO - Successfully read and processed: ../data/processed/hsh_report\ptfua324.csv
2024-10-16 02:41:53,592 - INFO - Successfully read and processed: ../data/processed/hsh_report\ptfua624.csv
2024-10-16 02:41:53,592 - INFO - Successfully read and processed: ../data/processed/hsh_report\ptg324.csv
2024-10-16 02:41:53,592 - INFO - Successfully read and processed: ../data/processed/hsh_report\pti324.csv
2024-10-16 02:41:53,608 - INFO - Successfully read and processed: ../data/processed/hsh_report\ptint324.csv
2024-10-16 02:41:53,608 - INFO - Successfully read and processed: ../data/processed/hsh_report\ref324.csv
2024-10-16 02:41:53,608 - INFO - Successfully read and processed: ../data/processed/hsh_report\td324.csv
2024-10-16 02:41:53,608 - INFO - Successfully read and processed: ../data/processed/hsh_report\trw324.csv
2024-10-16 02:41:53,623 - INFO - Successfully concatenated 18 DataFrames.
2024-10-16 02:41:53,623 - INFO - Total rows: 318

In [3]:
hsh_report = result_df['data']
hsh_report['fcid'] = hsh_report['fcid'].astype('Int64')
# hsh_report.to_csv(r"../data/processed/hsh_report/hsh_report324.csv", index=False)

In [4]:
hsh_report

,rid,fcid,service,date,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,sex,age
0,R1471,<NA>,adv,2024-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,R0588,8110100010,adv,2024-08-26,Yes,No,No,Yes,No,No,No,No,Yes,No,No,No,Female,37.0
2,R0062,8110020048,adv,2024-08-26,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes,No,No,No,Female,48.0
3,R0092,8110050011,adv,2024-08-26,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No,Female,46.0
4,R0063,8110050010,adv,2024-08-26,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No,Female,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,R0675,<NA>,trw,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,23.0
314,R1474,<NA>,trw,2024-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,47.0
315,R0440,<NA>,trw,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,62.0
316,R1021,<NA>,trw,2024-09-27,Yes,Yes,Yes,Yes,No,No,No,No,Yes,No,No,No,Male,39.0
317,R0898,<NA>,trw,2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,29.0

In [5]:
hsh_rep_beneficiaries = hsh_report.dropna(subset=['fcid'])
uniq_hsh_report = hsh_rep_beneficiaries.drop_duplicates(subset=['fcid'])
uniq_hsh_report = uniq_hsh_report[['rid', 'fcid', 'service', 'date']]
# uniq_hsh_report

In [6]:
uniq_hsh_report

       rid        fcid service        date
1    R0588  8110100010     adv  2024-08-26
2    R0062  8110020048     adv  2024-08-26
3    R0092  8110050011     adv  2024-08-26
4    R0063  8110050010     adv  2024-08-26
5    R0113  8110020060     adv  2024-08-26
..     ...         ...     ...         ...
297  R0719  8110100006     ref  2024-09-10
300  R1474  8110060012     ref  2024-09-11
304  R0393  8110050086      td  2024-08-13
306  R0582  8110050094      td  2024-07-31
307  R0183  8110020101      td  2024-08-09

[124 rows x 4 columns]

In [7]:
intake_dataset = pd.read_csv(r"../data/processed/0924/02_psint_0924.csv")

In [8]:
# intake rebuild test
rebuilt_intake = rebuild_dataframe(intake_dataset, 'fcid')

2024-10-16 02:41:55,095 - INFO - Processed 328 records so far.

In [9]:
rebuilt_intake

,intsp,ntspi,rid,fcid,firstname,lastname,nt_s1,nt_s2,nt_s3,nt_re,...,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,note
0,YQ,1,R0130,8110020011,صباح,شيخ هلال,2019-04-26 00:00:00,2019-05-28 00:00:00,NaN,2021-01-15 00:00:00,...,No,NaN,NaN,NaN,NaN,Yes,No,No,No,تقييمها ب 2019 و تم إعادة التقييم ب 2021 و شاركة بالمجموعات
1,YQ,2,R0024,8110020012,نجوى,حصرم,2019-12-26 00:00:00,2020-01-02 00:00:00,NaN,NaN,...,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No,اول جلسة كانت ب 2019
2,YQ,3,R0010,8110020013,فتحية,العبدالله,2020-01-20 00:00:00,2020-01-29 00:00:00,NaN,NaN,...,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No,NaN
3,YQ,4,R0009,8110020014,نور,ديري,2020-01-14 00:00:00,2020-01-28 00:00:00,NaN,NaN,...,No,NaN,NaN,NaN,NaN,Yes,No,No,No,NaN
4,YQ,5,R0003,8110020015,عبير,خطيب,2020-01-06 00:00:00,2020-01-13 00:00:00,NaN,2021-11-23 00:00:00,...,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,MT,17,R1265,8110110017,كندا,أسعد,2024-04-22 00:00:00,2024-04-30 00:00:00,NaN,2024-09-10 00:00:00,...,Yes,No,No,No,No,Yes,No,No,No,NaN
324,MT,18,R1021,8110110018,زياد,محمد,2024-05-09 00:00:00,2024-05-16 00:00:00,NaN,NaN,...,Yes,No,No,No,No,Yes,No,No,No,NaN
325,MT,19,R1282,8110110019,منى,الخالد,2024-05-14 00:00:00,2024-05-17 00:00:00,NaN,NaN,...,Yes,No,No,No,No,Yes,No,No,No,NaN
326,MT,20,R1284,8110110020,كوثر,نزال,2024-05-16 00:00:00,2024-05-21 00:00:00,NaN,NaN,...,Yes,No,No,No,No,Yes,No,No,No,NaN
327,MT,21,R1225,8110110021,رنا,العبد الله,2024-05-21 00:00:00,2024-05-24 00:00:00,NaN,NaN,...,Yes,No,No,No,No,Yes,No,No,No,NaN

In [10]:
uniq_hsh_report_reb = pd.merge(uniq_hsh_report, rebuilt_intake[int_criteria1], on='fcid', how='left')
# uniq_hsh_report_reb = pd.merge(uniq_hsh_report_reb, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [11]:
uniq_hsh_report_reb

,rid,fcid,service,date,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0588,8110100010,adv,2024-08-26,Yes,No,No,Yes,No,No,No,No,Yes,No,No,No
1,R0062,8110020048,adv,2024-08-26,No,Yes,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0092,8110050011,adv,2024-08-26,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0063,8110050010,adv,2024-08-26,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
4,R0113,8110020060,adv,2024-08-26,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,R0719,8110100006,ref,2024-09-10,Yes,Yes,Yes,Yes,No,No,No,No,Yes,No,No,No
120,R1474,8110060012,ref,2024-09-11,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
121,R0393,8110050086,td,2024-08-13,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
122,R0582,8110050094,td,2024-07-31,Yes,Yes,Yes,Yes,Yes,No,No,No,Yes,No,No,No
123,R0183,8110020101,td,2024-08-09,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No

In [12]:
scr_dataset = pd.read_csv(r"../data/processed/0924/01_psscr_0924.csv")

In [16]:
# scr_dataset

In [14]:
rebuilt_scr = rebuild_dataframe(scr_dataset, 'rid')

2024-10-16 03:04:46,152 - INFO - Processed 711 records so far.

In [15]:
rebuilt_scr

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,pei_pre_as,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note
0,YQ,131,R0003,عبير,الخطيب,Female,37,Syrian,NaN,2021-10-18 00:00:00,NaN,NaN,ADMSP beneficiary (current or former),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YQ,155,R0006,فاطمة,محمد,Female,45,Syrian,NaN,2022-11-02 00:00:00,NaN,NaN,ADMSP beneficiary (current or former),NaN,NaN,NaN,NaN,NaN,NaN,مراجعة قديمة تلقت لدينا كل الخدمات و لكن لديها انتكاسة فتقرر ادخالها الى ورشة مقاومة الصدمات
2,SA,28,R0009,نور,ديري,Female,26,Syrian,NaN,2021-10-20 00:00:00,NaN,NaN,ADMSP beneficiary (current or former),NaN,No,Yes,No,No,No,تم تحويلها لورشة مقاومة الصدمات
3,YQ,1,R0028,جميلة,مصطفى,Female,48,Syrian,NaN,2020-06-23 00:00:00,NaN,NaN,ADMSP beneficiary (current or former),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YQ,4,R0029,ميساء,جمعة,Female,46,Syrian,NaN,2020-06-24 00:00:00,NaN,NaN,I/NGO or humanitarian organization,MASSARAT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,IJ,156,R1452,احمد,دعاس,Male,32,Syrian,GTZ,2024-08-22 00:00:00,NaN,NaN,ADMSP member,NaN,Yes,No,No,No,No,NaN
707,LA,108,R1453,صفا,تركي,Female,27,Syrian,SF,2024-08-20 00:00:00,NaN,NaN,ADMSP member,NaN,No,No,Yes,Yes,No,NaN
708,LA,109,R1454,امنة,التركي,Female,38,Syrian,SF,2024-08-27 00:00:00,NaN,NaN,Other,Legal Documentation,No,No,No,Yes,No,NaN
709,IJ,157,R1474,سميرة,مراد,Female,47,Syrian,GTZ,2024-09-09 00:00:00,NaN,NaN,ADMSP member,NaN,No,Yes,Yes,No,No,NaN
710,YQ,188,R1570,عنان,الموسى,Female,28,Syrian,GTZ,2024-08-27 00:00:00,2024-08-27 00:00:00,NaN,ADMSP member,NaN,No,No,No,Yes,Yes,مقيمة بكلس

In [17]:
uniq_hsh_report_reb = pd.merge(uniq_hsh_report_reb, rebuilt_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [19]:
uniq_hsh_report_reb.to_clipboard(index=False)