In [1]:
import pandas as pd
from src.all_in_one import *
from src.utils import *
threshold = '2023-09-30'

In [2]:
scr_path = os.path.join(processed_data, 'scr_1223.csv')
screening = 'Scr'
scr_dataset = Dataset(config_file, screening)
scr = pd.read_csv(scr_path)
scr = dtype_trans(scr, scr_dataset)
unique_scr = scr.drop_duplicates(subset='rid')

In [ ]:
gc_path = os.path.join(processed_data, 'gc_1223.csv')
gc_sheet = 'GC'
gc_dataset = Dataset(config_file, gc_sheet)
gc = pd.read_csv(gc_path)
gc = dtype_trans(gc, gc_dataset)

In [ ]:
gc_q4 = filter_df_by_date(gc, gc_dataset.dvars, threshold, comparison_type='a')

In [ ]:
# gc_q4

In [ ]:
ic_path = os.path.join(processed_data, 'ic_1223.csv')
ic_sheet = 'IC'
ic_dataset = Dataset(config_file, ic_sheet)
ic = pd.read_csv(ic_path)
ic = dtype_trans(ic, ic_dataset)

In [ ]:
ic_q4 = filter_df_by_date(ic, ic_dataset.dvars, threshold, comparison_type='a')
# ic_q4

In [ ]:
# (ic_q4[ic_dataset.dvars] > threshold).sum().sum()

In [ ]:
pei_path = os.path.join(processed_data, 'pei_1223.csv')
pei_sheet = 'PEI'
pei_dataset = Dataset(config_file, pei_sheet)
pei = pd.read_csv(pei_path)
pei = dtype_trans(pei, pei_dataset)

In [ ]:
pei_q4 = filter_df_by_date(pei, pei_dataset.dvars, threshold, comparison_type='a')
# pei_q4

In [ ]:
pei_q4 = pd.merge(pei_q4, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
# pei_q4

In [ ]:
# (pei_q4[['pei_s1', 'sex']].value_counts())

In [ ]:
# (pei_q4[pei_dataset.dvars] > threshold).sum().sum()

In [ ]:
trw_path = os.path.join(processed_data, 'trw_1223.csv')
trw_sheet = 'TRW'
trw_dataset = Dataset(config_file, trw_sheet)
trw = pd.read_csv(trw_path)
trw = dtype_trans(trw, trw_dataset)

In [ ]:
trw_q4 = filter_df_by_date(trw, trw_dataset.dvars, threshold, comparison_type='a')
# trw_q4

In [ ]:
cws_path = os.path.join(processed_data, 'cws_1223.csv')
cws_sheet = 'CWS'
cws_dataset = Dataset(config_file, cws_sheet)
cws = pd.read_csv(cws_path)
cws = dtype_trans(cws, cws_dataset)

In [ ]:
cws_q4 = filter_df_by_date(cws, cws_dataset.dvars, threshold, comparison_type='a')
# cws_q4

In [ ]:
aw_path = os.path.join(processed_data, 'aw_1223.csv')
aw_sheet = 'AW'
aw_dataset = Dataset(config_file, aw_sheet)
aw = pd.read_csv(aw_path)
aw = dtype_trans(aw, aw_dataset)

In [ ]:
aw_q4 = filter_df_by_date(aw, aw_dataset.dvars, threshold, comparison_type='a')
# aw_q4

In [ ]:
# aw_q4[['aws', 'sex']].value_counts()

In [ ]:
# aw_q4['aws'].value_counts()

In [ ]:
gpt_path = os.path.join(processed_data, 'gpt_1223.csv')
gpt_sheet = 'GPT'
gpt_dataset = Dataset(config_file, gpt_sheet)
gpt = pd.read_csv(gpt_path)
gpt = dtype_trans(gpt, gpt_dataset)

In [ ]:
gpt_q4 = filter_df_by_date(gpt, gpt_dataset.dvars, threshold, comparison_type='a')
# gpt_q4

In [ ]:
# (gpt_q4[gpt_dataset.dvars] > threshold).sum().sum()

In [3]:
ipt_path = os.path.join(processed_data, 'ipt_1223.csv')
ipt_sheet = 'IPT'
ipt_dataset = Dataset(config_file, ipt_sheet)
ipt = pd.read_csv(ipt_path)
ipt = dtype_trans(ipt, ipt_dataset)

In [6]:
ipt_q4 = filter_df_by_date(ipt, ipt_dataset.dvars, threshold, comparison_type='a')
ipt_q4

,iptsp,ptispi,rid,fcid,firstname,lastname,pt_i_s1,pt_i_s2,pt_i_s3,pt_i_s4,...,pt_i_s18,pt_i_s19,pt_i_s20,pt_i_s21,pt_i_s22,pt_i_s23,pt_i_s24,pt_i_total,pt_status,note
7,HJ,8,R0441,8110050063,فاطمة,الأحمد,2023-05-05,2023-05-12,2023-05-24,2023-06-02,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,8,DONE,16.08.2023 this session indivisual compensatory session for session 5
8,HJ,9,R0183,8110020101,رفيق,خنوس,2023-06-05,2023-06-12,2023-11-02,2023-11-06,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,8,DONE,compensatory session because he had bowel cancer and had an operation
13,HJ,14,R0725,8110050097,ربا,قطشة,2023-08-04,2023-08-11,2023-08-25,2023-09-01,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,10,ACTIVE,NaN
14,HJ,15,R0089,8110060012,حنان,جزار,2023-09-14,2023-11-16,2023-11-29,2023-12-08,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,5,ACTIVE,NaN
15,HJ,16,R0599,8110050093,بسام,محمد,2023-11-03,2023-11-15,2023-11-21,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,3,DONE,Compensatory session
16,HJ,17,R0733,8110080014,محمد,الطباع,2023-11-16,2023-11-22,2023-11-29,2023-12-08,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,5,ACTIVE,NaN
20,HR,2,R0582,8110050094,حمزة,حريري,2023-06-13,2023-06-19,2023-07-10,2023-07-17,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,7,DONE,"تم انهاء الجلسات الفردية وتم تحويله الى الجلسات الجماعية بتيسير هبة,بسبب عدم حضور 3 جلسات جماعية بسبب ظروف طارئة تم تحويله الى لحضور جلسات تعويضية"
22,HR,4,R0415,8110020102,قيس,أبونقطة,2023-04-19,2023-05-09,2023-05-16,2023-05-23,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,14,DONE,"تم اجراء 4 جلسات من قبل الاخصائي عيسى,جلسة فردية رقم 11 بتاريخ 18-10-2023,جلسة فردية رقم 12 بتاريخ 24-10-2023,جلسة فردية رقم 13 للمراجع بتاريخ 25-10-2023"
25,HR,7,R0333,8110020107,راميا,مراد,2023-09-26,2023-10-04,2023-10-12,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,3,DONE,جلسات تعويضية بسبب غياب 5 جلسات عن الكروب بسبب السفر الى سوريا
26,ZN,1,R0879,8110100013,محمد,سعيد,2023-12-18,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,0,NaN,NaN

In [7]:
(ipt_q4[ipt_dataset.dvars] > threshold).sum().sum()

33