In [19]:
from src.all_in_one import *
from src.dataset_aggregator import *
from src.basic_variables import *
from src.rebuild_dataframe import *

In [20]:
int_file = path_manager.get_data_file(Category.PS, PSFile.PSNT)
intake = get_df(int_file.path, int_file.sheet, config_file)
intake_24 = filter_dataframe_on_date(intake, 'nt_s2', START, END)
intake_24["service"] = "int"
intake_24 = intake_24[intake_s2]
intake_24.rename(columns={"nt_s2": "date"}, inplace=True)
intake_24 = intake_24[['rid', 'fcid', 'service', 'date']]
intake_24 = intake_24.drop_duplicates(subset='fcid')

In [9]:
# intake_24

In [21]:
ptint_file = path_manager.get_data_file(Category.PT, PTFile.PTNT)
ptint_dataset = Dataset(config_file, ptint_file.sheet)
ptint = get_df(ptint_file.path, ptint_file.sheet, config_file)
ptint_24 = filter_dataframe_on_date(ptint, ['pt_nt_s1', 'pt_nt_s2'], START, END)
ptint_24_latestdate = ptint_24[['pt_nt_s1', 'pt_nt_s2']].max(axis=1)
ptint_24.insert(4, 'service', 'ptint')
ptint_24.insert(5, 'date', ptint_24_latestdate)
ptint_24 = ptint_24[['rid', 'fcid', 'service', 'date']]
ptint_24 = ptint_24.drop_duplicates(subset='fcid')

In [43]:
# ptint_24

In [22]:
td_file = path_manager.get_data_file(Category.PS, PSFile.TD)
td_dataset = Dataset(config_file, td_file.sheet)
td = get_df(td_file.path, td_file.sheet, config_file)
td_24 = filter_dataframe_on_date(td, 'consult', START, END)
td_24.insert(4, "service", "td")
td_24.insert(5, "date", td_24['consult'])
td_24 = td_24[['rid', 'fcid', 'service', 'date']]
td_24 = td_24.drop_duplicates(subset='fcid')

In [38]:
# td_24

In [23]:
trw_file = path_manager.get_data_file(Category.PS, PSFile.TRW)
trw_dataset = Dataset(config_file, trw_file.sheet)
trw = get_df(trw_file.path, trw_file.sheet, config_file)
trw_24 = filter_dataframe_on_date(trw, trw_dataset.dvars, START, END)
trw_24_latestdate = trw_24[trw_dataset.dvars].max(axis=1)
trw_24.insert(4, "service", "trw")
trw_24.insert(5, "date", trw_24_latestdate)
trw_24 = trw_24[['rid', 'fcid', 'service', 'date']]
trw_24 = trw_24.drop_duplicates(subset='fcid')

In [32]:
# trw_24

In [24]:
pei_file = path_manager.get_data_file(Category.PS, PSFile.PEI)
pei_dataset = Dataset(config_file, pei_file.sheet)
pei = get_df(pei_file.path, pei_file.sheet, config_file)
pei_24 = filter_dataframe_on_date(pei, ['pei_s1', 'pei_s2', 'pei_s3'], START, END)
pei_24_latestdate = pei_24[pei_dataset.dvars].max(axis=1)
pei_24.insert(4, "service", "pei")
pei_24.insert(5, "date", pei_24_latestdate)
pei_24 = pei_24[['rid', 'fcid', 'service', 'date']]
pei_24 = pei_24.drop_duplicates(subset='fcid')

In [38]:
# pei_24

In [25]:
ref = pd.read_csv(r"../data/processed/0924/16_ref_0924.csv", dtype={"FC_ID": "Int64"})
ref = ref[ref["OutgoingInternalIngoing"] == "outgoing"]
ref_24 = filter_dataframe_on_date(ref, "referralDate", START, END)
ref_24.insert(4, "service", "ref")
ref_24 = ref_24.rename(columns={"referral_ID": "rid"})
ref_24 = ref_24.rename(columns={"FC_ID": "fcid"})
ref_24 = ref_24.rename(columns={"referralDate": "date"})
ref_24 = ref_24[['rid', 'fcid', 'service', 'date']]
ref_24 = ref_24.drop_duplicates(subset='fcid')

In [8]:
# ref_24

In [26]:
dataframes324 = [intake_24, ptint_24, td_24, trw_24, pei_24, ref_24]
# intake_24
# ptint_24
# td_24
# trw_24
# pei_24
# ref_24

In [27]:
new_beneficiaries = pd.concat(dataframes324)

In [28]:
new_beneficiaries

       rid        fcid service                 date
38   R0861  8110080030     int  2024-07-12 00:00:00
39   R1452  8110080031     int  2024-09-09 00:00:00
151  R0861  8110080030   ptint  2024-07-09 00:00:00
216  R1452  8110080031   ptint  2024-09-10 00:00:00
123  R0681        <NA>     trw  2024-09-30 00:00:00
..     ...         ...     ...                  ...
917  R0459  8110080003     ref           2024-09-09
918  R0424  8110050074     ref           2024-09-09
922  R0719  8110100006     ref           2024-09-10
924  R0571  8110080004     ref           2024-09-11
925  R1474  8110060012     ref           2024-09-11

[65 rows x 4 columns]

In [29]:
new_beneficiaries = new_beneficiaries.dropna(subset='fcid')

In [30]:
new_beneficiaries = new_beneficiaries[['rid', 'fcid', 'service', 'date']]
new_beneficiaries

       rid        fcid service                 date
38   R0861  8110080030     int  2024-07-12 00:00:00
39   R1452  8110080031     int  2024-09-09 00:00:00
151  R0861  8110080030   ptint  2024-07-09 00:00:00
216  R1452  8110080031   ptint  2024-09-10 00:00:00
31   R0343  8110020116     pei  2024-09-26 00:00:00
..     ...         ...     ...                  ...
917  R0459  8110080003     ref           2024-09-09
918  R0424  8110050074     ref           2024-09-09
922  R0719  8110100006     ref           2024-09-10
924  R0571  8110080004     ref           2024-09-11
925  R1474  8110060012     ref           2024-09-11

[62 rows x 4 columns]

In [31]:
hsh_new_beneficiaries_reb_324 = pd.merge(new_beneficiaries, rebuilt_intake[int_criteria1], on='fcid', how='left')
hsh_new_beneficiaries_reb_324 = pd.merge(hsh_new_beneficiaries_reb_324, rebuilt_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [34]:
hsh_new_beneficiaries_reb_324.to_clipboard()

In [33]:
duplicates = hsh_new_beneficiaries_reb_324.duplicated(subset=['fcid', 'service'],keep=False)
duplicated_rows = hsh_new_beneficiaries_reb_324[duplicates]
duplicated_rows

Empty DataFrame
Columns: [rid, fcid, service, date, family_of_missing, survivor_of_detention, primary_torture, secondary_torture, sexual_violation_a, sexual_violation_p, hrd, journalist, wov, stgbv, lgbti, other, sex, age]
Index: []