In [1]:
from src.all_in_one import *
from path_management import *

In [2]:
pss_decryptor = ExcelDecryptor(ps_raw_data, pspw)
tt_pss = pss_decryptor.read_encrypted_excels()
pt_decryptor = ExcelDecryptor(pt_raw_data, ptpw)
tt_pt = pt_decryptor.read_encrypted_excels()

Processing: 100%|██████████| 5/5 [00:08<00:00,  1.73s/it]
Processing: 100%|██████████| 3/3 [00:03<00:00,  1.06s/it]

In [23]:
tt_pss

{'tt_psc_LA_v04.xlsx': {'Scr':     scspi    rid firstname lastname     sex  age     nat sc_loc  \
  0       #  Ref #     First     Last     Gen  Age     Nat    Loc
  1       1  R0605     كلثوم     اوسو  Female   47  Syrian    NaN
  2       2  R0589      ريما   الفياض  Female   50  Syrian    NaN
  3       3  R0603     قدرية   حمداني  Female   55  Syrian    NaN
  4       4  R0588     نجلاء   الفياض  Female   37  Syrian    NaN
  ..    ...    ...       ...      ...     ...  ...     ...    ...
  993   993    NaN       NaN      NaN     NaN  NaN     NaN    NaN
  994   994    NaN       NaN      NaN     NaN  NaN     NaN    NaN
  995   995    NaN       NaN      NaN     NaN  NaN     NaN    NaN
  996   996    NaN       NaN      NaN     NaN  NaN     NaN    NaN
  997   997    NaN       NaN      NaN     NaN  NaN     NaN    NaN

                     sc_s1 pei_pre_as                sc_re  \
  0                  Scr#1      Scr#2               Re-scr
  1    2023-01-06 00:00:00        NaN                  NaN
  2    2022-12-20 00:00:00        NaN  2023-07-27 00:00:00
  3    2022-12-22 00:00:00        NaN  2023-08-03 00:00:00
  4    2022-12-14 00:00:00        NaN  2023-07-21 00:00:00
  ..                   ...        ...                  ...
  993                  NaN        NaN                  NaN
  994                  NaN        NaN                  NaN
  995                  NaN        NaN                  NaN
  996                  NaN        NaN                  NaN
  997                  NaN        NaN                  NaN

                        source  \
  0         Source of referral
  1    Family member or friend
  2    Family member or friend
  3    Family member or friend
  4    Family member or friend
  ..                       ...
  993                      NaN
  994                      NaN
  995                      NaN
  996                      NaN
  997                      NaN

                                                               source_org  \
  0    Referring organization \n(I/NGO, CBO, int'l agency)\nor (Outreach)
  1                                                                   NaN
  2                                                                   NaN
  3                                                                   NaN
  4                                                                   NaN
  ..                                                                  ...
  993                                                                 NaN
  994                                                                 NaN
  995                                                                 NaN
  996                                                                 NaN
  997                                                                 NaN

      need_mhpss need_trw need_out_ref need_tmh need_pei  \
  0        MHPSS      TRW     Referral     Tele      PEI
  1          NaN      NaN          NaN      NaN      NaN
  2          NaN      NaN          NaN      NaN      NaN
  3          NaN      NaN          NaN      NaN      NaN
  4          NaN      NaN          NaN      NaN      NaN
  ..         ...      ...          ...      ...      ...
  993        NaN      NaN          NaN      NaN      NaN
  994        NaN      NaN          NaN      NaN      NaN
  995        NaN      NaN          NaN      NaN      NaN
  996        NaN      NaN          NaN      NaN      NaN
  997        NaN      NaN          NaN      NaN      NaN

                              note
  0                           Note
  1    خدمات متخصصة - اعادة تقييم
  2                            TRW
  3                            TRW
  4                            TRW
  ..                           ...
  993                          NaN
  994                          NaN
  995                          NaN
  996                          NaN
  997                          NaN

  [998 rows x 19 columns],
  'Int':     ntspi    rid        fcid firstname lastname                nt_s1  \
  0       #  Ref #     FC ID #     First     Last              Int # 1
  1       1  R0605  8110100001     كلثوم     اوسو  2023-01-18 00:00:00
  2       2  R0650  8110100002     خديجة    عثمان  2023-05-02 00:00:00
  3       3  R0708  8110100003      هاني     اكيل  2023-05-24 00:00:00
  4       4  R0717  8110100004      حسان     عكوش  2023-05-24 00:00:00
  ..    ...    ...         ...       ...      ...                  ...
  995   995    NaN         NaN       NaN      NaN                  NaN
  996   996    NaN         NaN       NaN      NaN                  NaN
  997   997    NaN         NaN       NaN      NaN                  NaN
  998   998    NaN         NaN       NaN      NaN                  NaN
  999   999    NaN         NaN       NaN      NaN                  NaN

                     nt_s2                nt_s3                nt_re  \
  0                Int # 2              Int # 3               Re-int
  1    2023-01-24 00:00:00                  NaN                  NaN
  2                    NaN                  NaN                  NaN
  3    2023-06-01 00:00:00  2023-07-28 00:00:00  2024-04-18 00:00:00
  4    2023-06-01 00:00:00  2023-06-13 00:00:00                  NaN
  ..                   ...                  ...                  ...
  995                  NaN                  NaN                  NaN
  996                  NaN                  NaN                  NaN
  997                  NaN                  NaN                  NaN
  998                  NaN                  NaN                  NaN
  999                  NaN                  NaN                  NaN

      family_of_missing  ... secondary_torture sexual_violation_a  \
  0            M-family  ...               STS             VSV-AR
  1                 Yes  ...               Yes                 No
  2                 NaN  ...               NaN                NaN
  3                 Yes  ...               Yes                 No
  4                 Yes  ...               Yes                 No
  ..                ...  ...               ...                ...
  995               NaN  ...               NaN                NaN
  996               NaN  ...               NaN                NaN
  997               NaN  ...               NaN                NaN
  998               NaN  ...               NaN                NaN
  999               NaN  ...               NaN                NaN

      sexual_violation_p  hrd journalist  wov   stgbv  lgbti  other  \
  0                VSV-P  HRD     Jrnlst  WoV  ST/GBV  LGBTI  Other
  1                   No   No        Yes  Yes      No     No     No
  2                  NaN  NaN        NaN  NaN     NaN    NaN    NaN
  3                  Yes  Yes         No  Yes     Yes     No     No
  4                  Yes   No         No  Yes     Yes     No     No
  ..                 ...  ...        ...  ...     ...    ...    ...
  995                NaN  NaN        NaN  NaN     NaN    NaN    NaN
  996                NaN  NaN        NaN  NaN     NaN    NaN    NaN
  997                NaN  NaN        NaN  NaN     NaN    NaN    NaN
  998                NaN  NaN        NaN  NaN     NaN    NaN    NaN
  999                NaN  NaN        NaN  NaN     NaN    NaN    NaN

                                                                                                                            note
  0                                                                                                                         Note
  1                                                                                                                          NaN
  2    تسريب - تم تحديد موعدين ولم تاتي عليهم وتم الاتصال بها عدة مرات ولم يتم الرد لذلك سيتم اغلاق الملف بعد المناقشة مع المشرف
  3                                                                                                                          NaN
  4                                                                                                                          NaN
  ..                                                                                                                         ...
  995                                                                                                                        NaN
  996                                                                                                                        NaN
  997                                                                                                                        NaN
  998                                                                                                                        NaN
  999                                                                                                                        NaN

  [1000 rows x 22 columns],
  'GC':     gcspi    rid        fcid firstname lastname need_pt gc_index  \
  0       #  Ref #     FC ID #     First     Last      PT      G #
  1       1  R0231  8110050051     نجلاء   عويدات     GPT       G9
  2       2  R0716  8110080013     مديحة     فتوح     GPT       G9
  3       3  R0459  8110080003     فاطمة     ديوك     GPT       G9
  4       4  R0458  8110050076      مروة   عشموطي     GPT       G9
  ..    ...    ...         ...       ...      ...     ...      ...
  994   994    NaN         NaN       NaN      NaN     NaN      NaN
  995   995    NaN         NaN       NaN      NaN     NaN      NaN
  996   996    NaN         NaN       NaN      NaN     NaN      NaN
  997   997    NaN         NaN       NaN      NaN     NaN      NaN
  998   998    NaN         NaN       NaN      NaN     NaN      NaN

            gc_class                gc_s1                gc_s2  ...  \
  0       Group name                  S#1                  S#2  ...
  1    Female(20-40)                  NaN  2023-12-19 00:00:00  ...
  2    Female(20-40)  2023-12-13 00:00:00  2023-12-19 00:00:00  ...
  3    Female(20-40)  2023-12-14 00:00:00  2023-12-19 00:00:00  ...
  4    Female(20-40)  2023-12-15 00:00:00  2023-12-19 00:00:00  ...
  ..             ...                  ...                  ...  ...
  994            NaN                  NaN                  NaN  ...
  995            NaN                  NaN                  NaN  ...
  996            NaN                  NaN                  NaN  ...
  997            NaN                  NaN                  NaN  ...
  998            NaN                  NaN                  NaN  ...

                     gc_s4             gc_check                gc_s5  \
  0                    S#4                chkIn                  S#5
  1    2024-01-09 00:00:00  2024-01-12 00:00:00  2024-01-16 00:00:00
  2    2024-01-09 00:00:00  2024-01-15 00:00:00  2024-01-16 00:00:00
  3    2024-01-09 00:00:00  2024-01-11 00:00:00  2024-01-16 00:00:00
  4    2024-01-09 00:00:00  2024-01-11 00:00:00  2024-01-16 00:00:00
  ..                   ...                  ...                  ...
  994                  NaN                  NaN                  NaN
  995                  NaN                  NaN                  NaN
  996                  NaN                  NaN                  NaN
  997                  NaN                  NaN                  NaN
  998                  NaN                  NaN                  NaN

                     gc_s6                gc_s7                gc_s8  \
  0                    S#6                  S#7                  S#8
  1    2024-01-26 00:00:00  2024-01-30 00:00:00  2024-02-07 00:00:00
  2    2024-01-23 00:00:00  2024-01-30 00:00:00  2024-02-07 00:00:00
  3    2024-01-23 00:00:00  2024-01-30 00:00:00  2024-02-07 00:00:00
  4    2024-01-23 00:00:00  2024-01-30 00:00:00  2024-02-07 00:00:00
  ..                   ...                  ...                  ...
  994                  NaN                  NaN                  NaN
  995                  NaN                  NaN                  NaN
  996                  NaN                  NaN                  NaN
  997                  NaN                  NaN                  NaN
  998                  NaN                  NaN                  NaN

                     gc_s9                gc_10 gc_total  \
  0                    S#9                 S#10      Tot
  1    2024-02-13 00:00:00  2024-02-20 00:00:00        9
  2    2024-02-13 00:00:00  2024-02-20 00:00:00       10
  3    2024-02-13 00:00:00  2024-02-20 00:00:00       10
  4    2024-02-13 00:00:00  2024-02-20 00:00:00       10
  ..                   ...                  ...      ...
  994                  NaN                  NaN      NaN
  995                  NaN                  NaN      NaN
  996                  NaN                  NaN      NaN
  997                  NaN                  NaN      NaN
  998                  NaN                  NaN      NaN

                                                                         note
  0                                                                      Note
  1    عملت جلسة فردية بهذا التاريخ وتغيبت عن الجلسة الاصلية بتاريخ 23-1-2024
  2                                                                       NaN
  3                                                                       NaN
  4                                                                       NaN
  ..                                                                      ...
  994                                                                     NaN
  995                                                                     NaN
  996                                                                     NaN
  997                                                                     NaN
  998                                                                     NaN

  [999 rows x 21 columns],
  'IC':     icspi    rid     fcid firstname lastname need_pt ic_s1 ic_s2 ic_s3 ic_s4  \
  0       #  Ref #  FC ID #     First     Last      PT   S#1   S#2   S#3   S#4
  1       1    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  2       2    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  3       3    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  4       4    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  ..    ...    ...      ...       ...      ...     ...   ...   ...   ...   ...
  994   994    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  995   995    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  996   996    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  997   997    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN
  998   998    NaN      NaN       NaN      NaN     NaN   NaN   NaN   NaN   NaN

      ic_s5 ic_s6 ic_s7 ic_s8 ic_s9 ic_s10 ic_total  note
  0     S#5   S#6   S#7   S#8   S#9   S#10      Tot  Note
  1     NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  2     NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  3     NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  4     NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  ..    ...   ...   ...   ...   ...    ...      ...   ...
  994   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  995   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  996   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  997   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN
  998   NaN   NaN   NaN   NaN   NaN    NaN      NaN   NaN

  [999 rows x 18 columns],
  'FUA':     fuspi    rid        fcid firstname lastname                fu_3m  \
  0       #  Ref #     FC ID #     First     Last                   3M
  1       1  R0231  8110050051     نجلاء   عويدات  2024-03-07 00:00:00
  2       2  R0587  8110080015     ايمان    العلي  2024-03-07 00:00:00
  3       3  R0716  8110080013     مديحة     فتوح  2024-03-08 00:00:00
  4       4  R0593  8110080009       ضحى    مكتبي  2024-03-11 00:00:00
  ..    ...    ...         ...       ...      ...                  ...
  995   995    NaN         NaN       NaN      NaN                  NaN
  996   996    NaN         NaN       NaN      NaN                  NaN
  997   997    NaN         NaN       NaN      NaN                  NaN
  998   998    NaN         NaN       NaN      NaN                  NaN
  999   999    NaN         NaN       NaN      NaN                  NaN

                     fu_6m fu_12m  status  closure_reason  note
  0                     6M    12M  Status  Closure reason  Note
  1    2024-07-18 00:00:00    NaN  Active             NaN   NaN
  2    2024-07-17 00:00:00    NaN  Active             NaN   NaN
  3    2024-07-17 00:00:00    NaN  Active             NaN   NaN
  4    2024-07-25 00:00:00    NaN  Active             NaN   NaN
  ..                   ...    ...     ...             ...   ...
  995                  NaN    NaN     NaN             NaN   NaN
  996                  NaN    NaN     NaN             NaN   NaN
  997                  NaN    NaN     NaN             NaN   NaN
  998                  NaN    NaN     NaN             NaN   NaN
  999                  NaN    NaN     NaN             NaN   NaN

  [1000 rows x 11 columns],
  'PEI':     pespi    rid        fcid pei_loc firstname lastname               pei_s1  \
  0       #  Ref #     FC ID #     Loc     First     Last                  S#1
  1       1  R0590  8110080012     GTZ      نهلة     فياض  2023-09-13 00:00:00
  2       2  R0714         NaN     GTZ      رهام   الحبال  2023-09-14 00:00:00
  3       3  R0860         NaN     GTZ     رانية     غرير  2023-09-15 00:00:00
  4       4  R0870         NaN     GTZ       سحر    العمر  2023-09-16 00:00:00
  ..    ...    ...         ...     ...       ...      ...                  ...
  995   995    NaN         NaN     NaN       NaN      NaN                  NaN
  996   996    NaN         NaN     NaN       NaN      NaN                  NaN
  997   997    NaN         NaN     NaN       NaN      NaN                  NaN
  998   998    NaN         NaN     NaN       NaN      NaN                  NaN
  999   999    NaN         NaN     NaN       NaN      NaN                  NaN

                    pei_s2               pei_s3 pei_total          pei_post_as  \
  0                    S#2                  S#3       Tot              PEI-FUA
  1    2023-09-14 00:00:00  2023-09-15 00:00:00         3  2023-09-27 00:00:00
  2    2023-09-15 00:00:00  2023-09-16 00:00:00         3  2023-09-28 00:00:00
  3    2023-09-16 00:00:00  2023-09-17 00:00:00         3  2023-09-27 00:00:00
  4    2023-09-17 00:00:00  2023-09-18 00:00:00         3  2023-09-27 00:00:00
  ..                   ...                  ...       ...                  ...
  995                  NaN                  NaN         0                  NaN
  996                  NaN                  NaN         0                  NaN
  997                  NaN                  NaN         0                  NaN
  998                  NaN                  NaN         0                  NaN
  999                  NaN                  NaN         0                  NaN

       note
  0    Note
  1     NaN
  2     NaN
  3     NaN
  4     NaN
  ..    ...
  995   NaN
  996   NaN
  997   NaN
  998   NaN
  999   NaN

  [1000 rows x 12 columns],
  'TRW':     trspi    rid     fcid firstname lastname trw_s1 trw_s2 trw_total  fac1  \
  0       #  Ref #  FC ID #     First     Last    S#1    S#2       Tot  Fac1
  1       1    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN
  2       2    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN
  3       3    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN
  4       4    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN
  ..    ...    ...      ...       ...      ...    ...    ...       ...   ...
  995   995    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN
  996   996    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN
  997   997    NaN      NaN       NaN      NaN    NaN    NaN         0   NaN

In [3]:
path_manager.config.shpt

['PSFS', 'PTInt', 'GPT', 'IPT', 'FUP']

In [4]:
path_manager.config.fpss

['tt_psc_IJ_v04.xlsx',
 'tt_psc_LA_v04.xlsx',
 'tt_psc_MT_v04.xlsx',
 'tt_psc_SA_v04.xlsx',
 'tt_psc_YQ-v04.xlsx']

In [20]:
path_manager.config.shpss

['Scr', 'Int', 'GC', 'IC', 'FUA', 'PEI', 'TRW', 'TD', 'CWS', 'AW']

In [17]:
pss_sheet_path = {
    'screening': (ps_files.SCR.sheet, ps_files.SCR.path),
    'intake': (ps_files.PSNT.sheet, ps_files.PSNT.path),
    'group_counseling': (ps_files.PSG.sheet, ps_files.PSG.path),
    'individual_counseling': (ps_files.PSI.sheet, ps_files.PSI.path),
    'follow_up_assessment': (ps_files.PSFU.sheet, ps_files.PSFU.path),
    'post_earthquake_intervention': (ps_files.PEI.sheet, ps_files.PEI.path),
    'trw': (ps_files.TRW.sheet, ps_files.TRW.path),
    'therapeutic_documentation': (ps_files.TD.sheet, ps_files.TD.path),
    'creative_workshop': (ps_files.CDW.sheet, ps_files.CDW.path),
    'awareness_workshop': (ps_files.AWW.sheet, ps_files.AWW.path),
}

# pt_sheet_path = {
#     'psfs': (psfs_sheet, psfs_path),
#     'pt_intake': (ptint_sheet, ptint_path),
#     'pt_group': (gpt_sheet, gpt_path),
#     'pt_individual': (ipt_sheet, ipt_path),
#     'pt_fua': (ptfua_sheet, ptfua_path),
# }

In [19]:
for key, value in pss_sheet_path.items():
    pss_dataframe = compiler(value[0], path_manager.config.fpss, config_file, tt_pss, ser="pss")
    pss_dataframe.to_csv(value[1], index=False)

KeyError: 'cws'

In [ ]:
for key, value in pt_sheet_path.items():
    pt_dataframe = compiler(value[0], config.fpt, config_file, tt_pt, ser="pt")
    pt_dataframe.to_csv(value[1], index=False)

In [ ]:
psfs = get_df(psfs_path, psfs_sheet)

In [ ]:
psfs