In [1]:
from src.all_in_one import *

In [2]:
decryptor = ExcelDecryptor(ps_raw_data, pspw)
tracking_tools = decryptor.read_encrypted_excels()

Processing: 100%|██████████| 5/5 [00:10<00:00,  2.10s/it]

In [3]:
config.shpss

['Scr', 'Int', 'GC', 'IC', 'FUA', 'PEI', 'TRW', 'TD', 'CWS', 'AW']

In [4]:
config.fpss

['tt_psc_IJ_v04.xlsx',
 'tt_psc_LA_v04.xlsx',
 'tt_psc_MT_v04.xlsx',
 'tt_psc_SA_v04.xlsx',
 'tt_psc_YQ-v04.xlsx']

In [5]:
sheet_name1 = td_sheet
sheet_name2 = cws_sheet

In [12]:
df = compiler(sheet_name2, config.fpss, config_file, tracking_tools)

In [13]:
df

,cwssp,cwspi,rid,fcid,firstname,lastname,cws_s1,cws_s2,cws_total,note
0,LA,1,R0393,8110050086,زهراء,علوش,2023-09-20 00:00:00,2023-09-21 00:00:00,2,NaN
1,LA,2,R0497,8110020115,هلا,الحلبي,2023-09-20 00:00:00,2023-09-21 00:00:00,2,NaN
2,LA,3,R0367,8110020110,امينة,صباهي,2023-09-20 00:00:00,2023-09-21 00:00:00,2,NaN
3,LA,4,R0391,8110050067,رقية,العبد لله,2023-09-20 00:00:00,2023-09-21 00:00:00,2,NaN
4,LA,5,R0359,8110050048,رنا,العيسى,2023-09-20 00:00:00,2023-09-21 00:00:00,2,NaN
...,...,...,...,...,...,...,...,...,...,...
76,YQ,33,R0591,8110050092,نور,العلبي,NaN,2023-11-16 00:00:00,1,NaN
77,YQ,34,R0183,8110020101,رفيق,خنوس,2024-04-24 00:00:00,2024-04-25 00:00:00,2,NaN
78,YQ,35,R0486,8110010103,زكريا,هدلة,2024-04-24 00:00:00,2024-04-25 00:00:00,2,NaN
79,YQ,36,R0337,8110020100,أيمن,دعاس,2024-04-24 00:00:00,2024-04-25 00:00:00,2,NaN
80,YQ,37,R0120,8110020106,رعد,دندل,2024-04-24 00:00:00,2024-04-25 00:00:00,2,NaN

In [14]:
df.to_csv(cws_path, index=False)