In [1]:
import os
import pandas as pd
from src.all_in_one import *

In [2]:
path = os.path.join(unvfvt23, 'grandBeneficiariesEncodedPivotedUniqueDataset23.csv')
grand = pd.read_csv(path)
grand[['fcid', 'age']] = grand[['fcid', 'age']].astype('Int64')

In [3]:
grand_ts = grand[(grand['primary_torture'] == 'Yes') | (grand['secondary_torture'] == 'Yes')]
grand_ts

,rid,fcid,sex,age,int,re,gc,ic,psfua3,psfua6,...,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0059,8110050007,NaN,<NA>,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
1,R0061,8110020050,Female,45,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0065,8110060004,Female,56,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0066,8110060006,Female,55,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
5,R0077,8110060007,Female,56,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,R1106,<NA>,Female,38,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
229,R1109,<NA>,Female,43,0,0,0,0,0,0,...,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No,NaN
230,R1119,<NA>,Female,62,0,0,0,0,0,0,...,Yes,No,No,Yes,No,No,Yes,No,No,NaN
231,R1133,<NA>,Female,52,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
232,R1143,<NA>,Female,23,0,0,0,0,0,0,...,No,Yes,No,No,No,No,Yes,No,No,NaN

In [ ]:
# grand_ts = grand_ts.copy()
# bins = [0, 18, 35, 60, np.inf]
# labels = ['0-18', '19-35', '36-60', '+60']
# grand_ts['age_group'] = pd.cut(grand_ts['age'], bins=bins, labels=labels, right=False)

# Step 2: Pivot table with counts and subtotal by sex
# pivot_table = pd.pivot_table(grand_ts, index='sex', columns='age_group', values='age', aggfunc='count', fill_value=0, margins=True, margins_name='sub_total_by_sex')
# pivot_table = pd.pivot_table(grand_ts, index='sex', columns='age_group', values='age', aggfunc='count', fill_value=0, margins=True, margins_name='sub_total_by_sex', observed=False)


# Display intermediate result
# print("Pivot table with subtotals by sex:")
# pivot_table.to_clipboard()

In [ ]:
# grand_ts[grand_ts['journalist'] == 'Yes']

# Checking UNVFVT Former Detainee Beneficiaries
### Cross 'rid' with Screening 'IRM' beneficiaries

In [8]:
scr = pd.read_csv(scr_path)
scr_irm = scr[scr['source'] == 'IRM'] 
# scr_irm

In [11]:
scr_irm

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,pei_pre_as,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note
0,IJ,67,R1010,احمد,الخالدي,Male,53,Syrian,SF,2023-10-19,NaN,NaN,IRM,NaN,Yes,No,No,Yes,Yes,NaN
1,IJ,64,R0999,امينة,الحسين,Female,39,Syrian,SF,2023-10-18,NaN,NaN,IRM,NaN,Yes,No,No,No,Yes,NaN
4,IJ,36,R0731,إبراهيم,عباس,Male,33,Syrian,GTZ,2023-05-22,NaN,NaN,IRM,NaN,No,Yes,No,Yes,No,TRW-IRM
10,IJ,69,R0702,حسن,الخلف,Male,38,Syrian,SF,2023-10-26,NaN,NaN,IRM,NaN,Yes,No,No,Yes,Yes,NaN
22,IJ,34,R0714,ريهام,الحبال,Female,32,Syrian,GTZ,2023-05-12,NaN,NaN,IRM,NaN,No,No,No,No,Yes,E- IRM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,YQ,177,R0923,عبدالله,سلامة,Male,37,Syrian,SF,2023-09-08,NaN,NaN,IRM,NaN,No,Yes,No,Yes,Yes,NaN
679,YQ,178,R1035,سمر,عبيد,Female,56,Syrian,Rey,2023-10-26,NaN,NaN,IRM,NaN,No,No,No,Yes,Yes,NaN
680,YQ,179,R1034,خالد,زيتون,Male,52,Syrian,Rey,2023-10-26,NaN,NaN,IRM,NaN,No,No,No,No,No,تحويل لجلسة توعية
681,YQ,180,R1033,فادية,زيدان,Female,47,Syrian,Rey,2023-10-26,NaN,NaN,IRM,NaN,No,No,No,Yes,Yes,NaN
683,YQ,182,R1107,عبد القادر,الراغب,Male,34,Syrian,Rey,2023-11-08,NaN,NaN,IRM,NaN,No,No,No,Yes,Yes,NaN

In [14]:
grand_ts_cross_irm = pd.merge(grand_ts, scr_irm[['rid', 'sex', 'source']], on='rid', how='left')
grand_ts_cross_irm.to_clipboard()