In [1]:
import os
import pandas as pd
from src.all_in_one import *
threshold = "2022-12-31"

In [2]:
# gc_date_cols =  ['gc_s1', 'gc_s2', 'gc_s3', 'gc_s4', 'gc_s5', 'gc_s6', 'gc_s7', 'gc_s8', 'gc_s9', 'gc_10']
# df_order = ['rid', 'fcid', 'sex', 'age','service', 'date', 'session_num', 'family_of_missing', 'survivor_of_detention', 'primary_torture', 'secondary_torture', 'sexual_violation_a', 'sexual_violation_p', 'hrd', 'journalist', 'wov', 'stgbv', 'lgbti', 'other']

In [3]:
# prefix_list = ['gc', 'ic','gpt', 'int', 'ipt', 'pei','psfua3', 'psfua6', 'psfua12', 'ptfua3', 'ptfua6', 'ptfua12', 'ptint', 'ptreint', 'reint', 'td']
# suffix = "Beneficiaries23.csv"
# df_list = []

In [4]:
# for prefix in prefix_list:
#     filename = os.path.join(unvfvt23, prefix + suffix)
#     df = pd.read_csv(filename)
#     df[['fcid', 'session_num','age']] = df[['fcid', 'session_num','age']].astype("Int64")
#     df['date'] = df['date'].apply(pd.to_datetime)
#     df_list.append(df)

In [5]:
# grand_df = pd.concat(df_list, ignore_index=True)
# grand_df = grand_df[df_order]
# grand_df

In [6]:
# grand_df.to_csv(os.path.join(unvfvt23, 'grandBeneficiariesDataset23.csv'), index=False)

In [7]:
# destination = os.path.join(unvfvt23, 'peiBeneficiaries23.csv')
# pd.read_csv(destination)

In [8]:
# pd.read_csv(filename)

In [9]:
# scr_dataset = Dataset(config_file, scr_sheet)
# scr = pd.read_csv(scr_path)
# dtype_trans(scr, scr_dataset)
# rid_val = 'R0407'
# name_val = 'رشا'
# scr[scr['rid'] == rid_val]
# scr[scr['firstname'] == name_val]

In [10]:
# df_dataset = Dataset(config_file, ptint_sheet)
# df = pd.read_csv(ptint_path)
# dtype_trans(df, df_dataset)
# rid_val = 'R0407'
# df[df['rid'] == rid_val]

In [11]:
grand_df_path = os.path.join(unvfvt23, 'grandBeneficiariesDataset23.csv')
grand = pd.read_csv(grand_df_path)
grand[['fcid', 'session_num','age']] = grand[['fcid', 'session_num','age']].astype("Int64")
grand['date'] = grand['date'].apply(pd.to_datetime)

In [12]:
grand

,rid,fcid,sex,age,service,date,session_num,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0501,8110020120,Female,41,gc,2023-01-18,9,No,No,No,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
1,R0367,8110020110,Female,40,gc,2023-01-18,10,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0441,8110050063,Female,43,gc,2023-01-18,8,No,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0391,8110050067,Female,44,gc,2023-01-18,10,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
4,R0348,8110020097,Female,43,gc,2023-01-18,10,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,R0415,8110020102,Male,25,td,2023-05-11,0,No,Yes,Yes,Yes,No,Yes,Yes,No,Yes,Yes,No,No
743,R0452,8110050080,Female,40,td,2023-08-23,0,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
744,R0534,8110050087,Female,37,td,2023-08-24,0,No,Yes,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
745,R0378,8110050066,Female,38,td,2023-08-25,0,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
746,R0460,8110090003,Female,27,td,2023-10-04,0,Yes,No,Yes,Yes,Yes,NaN,NaN,NaN,Yes,No,No,NaN

In [14]:
# Define the list of columns you're interested in
columns_of_interest = ['family_of_missing', 'survivor_of_detention', 'primary_torture',
                       'secondary_torture', 'sexual_violation_a', 'sexual_violation_p', 
                       'hrd', 'journalist', 'wov', 'stgbv', 'lgbti', 'other']

sort_order = {'Yes': 0, 'No': 1, 'NaN': 2, np.nan: 2}

_grand = grand.copy()
# Dynamically creating sort keys
for column in columns_of_interest:
    _grand[f'{column}_sort_key'] = _grand[column].map(sort_order).fillna(2)

# Dynamically build the list of columns to sort by, including 'rid' and all sort key columns
sort_columns = ['rid'] + [f'{column}_sort_key' for column in columns_of_interest]

# Now sort the DataFrame by 'rid' and the dynamically created sort key columns
df_sorted = _grand.sort_values(by=sort_columns)

# Since we've sorted based on dynamically created keys, there's no need to drop non-existent keys
# Drop duplicates keeping the first occurrence for each 'rid'
df_unique = df_sorted.drop_duplicates(subset='rid')

# Optionally, drop the sort key columns to clean up the DataFrame
df_unique = df_unique.copy()
df_unique.drop(columns=[f'{column}_sort_key' for column in columns_of_interest], inplace=True)

# This will give you the deduplicated DataFrame based on 'rid' with preferred values

# Display DataFrame after dropping duplicates
# print("\nDataFrame after dropping duplicates:")
df_unique

,rid,fcid,sex,age,service,date,session_num,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
727,R0059,8110050007,NaN,<NA>,td,2023-06-21,0,No,No,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
728,R0061,8110020050,Female,45,td,2023-05-03,0,No,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
725,R0065,8110060004,Female,56,td,2023-06-05,0,Yes,No,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
726,R0066,8110060006,Female,55,td,2023-09-07,0,Yes,No,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
457,R0074,8110020054,Female,38,psfua12,2023-01-18,0,No,No,No,No,NaN,NaN,NaN,NaN,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,R1106,<NA>,Female,38,pei,2023-12-13,2,NaN,NaN,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
262,R1109,<NA>,Female,43,pei,2023-12-13,3,NaN,NaN,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No,NaN
261,R1119,<NA>,Female,62,pei,2023-12-13,3,NaN,NaN,Yes,No,No,Yes,No,No,Yes,No,No,NaN
260,R1133,<NA>,Female,52,pei,2023-12-11,3,NaN,NaN,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
259,R1143,<NA>,Female,23,pei,2023-12-14,3,NaN,NaN,No,Yes,No,No,No,No,Yes,No,No,NaN

In [17]:
# df_unique.to_csv(os.path.join(unvfvt23, 'grandBeneficiariesDatasetUnique23.csv'), index=False)

In [ ]:
columns = ['family_of_missing', 'survivor_of_detention', 'primary_torture',
       'secondary_torture', 'sexual_violation_a', 'sexual_violation_p', 'hrd',
       'journalist', 'wov', 'stgbv', 'lgbti', 'other']
# grand[columns] = grand[columns].fillna('No')
# grand

In [ ]:
# def check_differences_specific_columns(x, columns_to_check):
#     for column in columns_to_check:
#         if len(x[column].unique()) > 1:
#             return True
#     return False

# Specify columns to check
# columns_to_check = ['family_of_missing', 'survivor_of_detention', 'primary_torture',
#        'secondary_torture', 'sexual_violation_a', 'sexual_violation_p', 'hrd',
#        'journalist', 'wov', 'stgbv', 'lgbti', 'other']  # Adjust based on your needs

# Apply filtering with specified columns
# duplicates_with_differences_specific = grand.groupby('rid').filter(check_differences_specific_columns, columns_to_check=columns_to_check)
# duplicates_with_differences_specific

In [22]:
grand_encoded = pd.read_csv(os.path.join(unvfvt23, 'grandBeneficiariesEncodedDataset23.csv'))
grand_encoded

,rid,fcid,sex,age,int,re,gc,ic,psfua3,psfua6,...,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0501,8110020120.0,Female,41.0,False,False,True,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
1,R0367,8110020110.0,Female,40.0,False,False,True,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0441,8110050063.0,Female,43.0,False,False,True,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0391,8110050067.0,Female,44.0,False,False,True,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
4,R0348,8110020097.0,Female,43.0,False,False,True,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,R0415,8110020102.0,Male,25.0,False,False,False,False,False,False,...,Yes,Yes,No,Yes,Yes,No,Yes,Yes,No,No
743,R0452,8110050080.0,Female,40.0,False,False,False,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
744,R0534,8110050087.0,Female,37.0,False,False,False,False,False,False,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
745,R0378,8110050066.0,Female,38.0,False,False,False,False,False,False,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
746,R0460,8110090003.0,Female,27.0,False,False,False,False,False,False,...,Yes,Yes,Yes,NaN,NaN,NaN,Yes,No,No,NaN

In [ ]:
grand.columns

In [23]:
grand_service = grand[['rid', 'service']]
grand_service_encoded = pd.get_dummies(grand_service, columns=['service'], prefix='', prefix_sep='')
grand_encoded_order = ['rid', 'int', 're', 'gc', 'ic','psfua3', 'psfua6', 'psfua12','ptint','ptreint','gpt', 'ipt', 'ptfua3', 'ptfua6', 'ptfua12', 'pei', 'td']
grand_service_encoded = grand_service_encoded[grand_encoded_order]
grand_service_encoded

,rid,int,re,gc,ic,psfua3,psfua6,psfua12,ptint,ptreint,gpt,ipt,ptfua3,ptfua6,ptfua12,pei,td
0,R0501,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
1,R0367,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
2,R0441,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,R0391,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4,R0348,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,R0415,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
743,R0452,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
744,R0534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
745,R0378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
746,R0460,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [24]:
pivot_grand_service_encoded = grand_service_encoded.pivot_table(index=['rid'], aggfunc='sum', fill_value=0).reset_index()
pivot_grand_service_encoded

,rid,gc,gpt,ic,int,ipt,pei,psfua12,psfua3,psfua6,ptfua12,ptfua3,ptfua6,ptint,ptreint,re,td
0,R0059,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,R0061,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,R0065,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,R0066,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,R0074,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,R1106,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
229,R1109,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
230,R1119,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
231,R1133,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
232,R1143,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [26]:
# ptreint = pd.merge(ptreint, unique_intake[["rid", "family_of_missing", "survivor_of_detention", "primary_torture", "secondary_torture", "sexual_violation_a", "sexual_violation_p", "hrd", "journalist", "wov", "stgbv", "lgbti", "other"]], on='rid', how='left')
merge_columns = ['rid', 'fcid', 'sex', 'age', 'family_of_missing', 'survivor_of_detention', 'primary_torture', 'secondary_torture', 'sexual_violation_a', 'sexual_violation_p', 'hrd', 'journalist', 'wov', 'stgbv', 'lgbti', 'other']
pivot_grand_service_encoded_merged = pd.merge(pivot_grand_service_encoded, df_unique[merge_columns], on='rid', how='left' )
columns_order = ['rid', 'fcid', 'sex', 'age', 'int', 're', 'gc', 'ic', 'psfua3', 'psfua6', 'psfua12', 'ptint', 'ptreint', 'gpt', 'ipt', 'ptfua3', 'ptfua6', 'ptfua12', 'pei', 'td', 'family_of_missing', 'survivor_of_detention', 'primary_torture', 'secondary_torture', 'sexual_violation_a', 'sexual_violation_p', 'hrd', 'journalist', 'wov', 'stgbv', 'lgbti', 'other']
pivot_grand_service_encoded_merged = pivot_grand_service_encoded_merged[columns_order]
pivot_grand_service_encoded_merged.to_csv(os.path.join(unvfvt23, 'grandBeneficiariesEncodedPivotedUniqueDataset23.csv'), index=False)

,rid,fcid,sex,age,int,re,gc,ic,psfua3,psfua6,...,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0059,8110050007,NaN,<NA>,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
1,R0061,8110020050,Female,45,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0065,8110060004,Female,56,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0066,8110060006,Female,55,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
4,R0074,8110020054,Female,38,0,0,0,0,0,0,...,No,No,NaN,NaN,NaN,NaN,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,R1106,<NA>,Female,38,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
229,R1109,<NA>,Female,43,0,0,0,0,0,0,...,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No,NaN
230,R1119,<NA>,Female,62,0,0,0,0,0,0,...,Yes,No,No,Yes,No,No,Yes,No,No,NaN
231,R1133,<NA>,Female,52,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
232,R1143,<NA>,Female,23,0,0,0,0,0,0,...,No,Yes,No,No,No,No,Yes,No,No,NaN

In [31]:
# pivot_grand_service_encoded_merged.to_csv(os.path.join(unvfvt23, 'grandBeneficiariesEncodedPivotedUniqueDataset23.csv'), index=False)
df = pd.read_csv(os.path.join(unvfvt23, 'grandBeneficiariesEncodedPivotedUniqueDataset23.csv'))
df[['fcid', 'age']] = df[['fcid', 'age']].astype("Int64")
df.to_excel(os.path.join(unvfvt23, 'grandBeneficiariesEncodedPivotedUniqueDataset23.xlsx'), index=False)

In [ ]:
# unique_grand = grand.drop_duplicates(subset=['rid'])
# unique_grand

In [ ]:
# grand[grand.duplicated('rid', keep=False)]

In [ ]:
grand_encoded = pd.get_dummies(grand, columns=['service'], prefix='', prefix_sep='')
grand_encoded_order = ['rid', 'fcid', 'sex', 'age', 'int', 're', 'gc', 'ic','psfua3', 'psfua6', 'psfua12','ptint','ptreint','gpt', 'ipt', 'ptfua3', 'ptfua6', 'ptfua12', 'pei', 'td', 'family_of_missing', 'survivor_of_detention', 'primary_torture', 'secondary_torture','sexual_violation_a', 'sexual_violation_p', 'hrd', 'journalist', 'wov', 'stgbv', 'lgbti', 'other']

grand_encoded = grand_encoded[grand_encoded_order]
# grand_encoded.to_csv(os.path.join(unvfvt23, 'grandBeneficiariesEncodedDataset23.csv'))
grand_encoded

In [ ]:
grand_encoded.groupby('rid').sum().reset_index()

In [ ]:
# grand_encoded.to_csv(os.path.join(unvfvt23, 'grandBeneficiariesEncodedDataset23.csv'))

In [ ]:
indexes = ['rid', 'fcid', 'sex', 'age', 'family_of_missing', 'survivor_of_detention', 'primary_torture', 'secondary_torture','sexual_violation_a', 'sexual_violation_p', 'hrd', 'journalist', 'wov', 'stgbv', 'lgbti', 'other']

# pivot_grand_encoded = grand_encoded.pivot_table(index=['rid'], aggfunc='sum', fill_value=0).reset_index()

In [ ]:
pivot_grand_encoded

In [ ]:
pivot_grand_encoded[pivot_grand_encoded.duplicated(subset=['rid'], keep=False)]