In [2]:
import os
import pandas as pd
from src.all_in_one import *
threshold = "2022-12-31"

In [6]:
path = os.path.join(unvfvt23, 'grandBeneficiariesEncodedPivotedUniqueDataset23.csv')
grand = pd.read_csv(path)
grand[['fcid', 'age']] = grand[['fcid', 'age']].astype('Int64')

In [7]:
grand

,rid,fcid,sex,age,int,re,gc,ic,psfua3,psfua6,...,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0059,8110050007,NaN,<NA>,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
1,R0061,8110020050,Female,45,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0065,8110060004,Female,56,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0066,8110060006,Female,55,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
4,R0074,8110020054,Female,38,0,0,0,0,0,0,...,No,No,NaN,NaN,NaN,NaN,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,R1106,<NA>,Female,38,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
229,R1109,<NA>,Female,43,0,0,0,0,0,0,...,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No,NaN
230,R1119,<NA>,Female,62,0,0,0,0,0,0,...,Yes,No,No,Yes,No,No,Yes,No,No,NaN
231,R1133,<NA>,Female,52,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
232,R1143,<NA>,Female,23,0,0,0,0,0,0,...,No,Yes,No,No,No,No,Yes,No,No,NaN

In [21]:
grand[grand['wov'] == 'NaN']

Empty DataFrame
Columns: [rid, fcid, sex, age, int, re, gc, ic, psfua3, psfua6, psfua12, ptint, ptreint, gpt, ipt, ptfua3, ptfua6, ptfua12, pei, td, family_of_missing, survivor_of_detention, primary_torture, secondary_torture, sexual_violation_a, sexual_violation_p, hrd, journalist, wov, stgbv, lgbti, other]
Index: []

[0 rows x 32 columns]

In [8]:
grand_ts = grand[(grand['primary_torture'] == 'Yes') | (grand['secondary_torture'] == 'Yes')]
grand_ts

,rid,fcid,sex,age,int,re,gc,ic,psfua3,psfua6,...,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
0,R0059,8110050007,NaN,<NA>,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
1,R0061,8110020050,Female,45,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
2,R0065,8110060004,Female,56,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
3,R0066,8110060006,Female,55,0,0,0,0,0,0,...,No,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No
5,R0077,8110060007,Female,56,0,0,0,0,0,0,...,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,R1106,<NA>,Female,38,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
229,R1109,<NA>,Female,43,0,0,0,0,0,0,...,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No,NaN
230,R1119,<NA>,Female,62,0,0,0,0,0,0,...,Yes,No,No,Yes,No,No,Yes,No,No,NaN
231,R1133,<NA>,Female,52,0,0,0,0,0,0,...,Yes,Yes,No,Yes,No,No,Yes,No,No,NaN
232,R1143,<NA>,Female,23,0,0,0,0,0,0,...,No,Yes,No,No,No,No,Yes,No,No,NaN

In [12]:
grand_ts = grand_ts.copy()
bins = [0, 18, 35, 60, np.inf]
labels = ['0-18', '19-35', '36-60', '+60']
grand_ts['age_group'] = pd.cut(grand_ts['age'], bins=bins, labels=labels, right=False)

# Step 2: Pivot table with counts and subtotal by sex
# pivot_table = pd.pivot_table(grand_ts, index='sex', columns='age_group', values='age', aggfunc='count', fill_value=0, margins=True, margins_name='sub_total_by_sex')
pivot_table = pd.pivot_table(grand_ts, index='sex', columns='age_group', values='age', aggfunc='count', fill_value=0, margins=True, margins_name='sub_total_by_sex', observed=False)


# Display intermediate result
# print("Pivot table with subtotals by sex:")
pivot_table.to_clipboard()

In [20]:
grand_ts[grand_ts['journalist'] == 'Yes']

,rid,fcid,sex,age,int,re,gc,ic,psfua3,psfua6,...,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,age_group
141,R0605,8110100001,Female,47,1,0,0,0,0,0,...,Yes,No,No,No,Yes,Yes,No,No,No,36-60
155,R0714,8110100012,Female,32,1,0,0,0,0,0,...,Yes,Yes,Yes,No,Yes,Yes,No,No,No,19-35
161,R0720,8110100007,Male,35,1,0,0,0,0,0,...,Yes,No,No,No,Yes,Yes,No,No,No,36-60
165,R0732,8110100008,Male,33,1,0,1,0,0,0,...,Yes,No,Yes,No,Yes,Yes,Yes,No,No,19-35
219,R1094,<NA>,Female,60,0,0,0,0,0,0,...,Yes,No,Yes,Yes,Yes,Yes,No,No,NaN,+60
225,R1102,<NA>,Male,46,0,0,0,0,0,0,...,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,NaN,36-60