In [1]:
from src.all_in_one import *

# UNIQUE SCREENING BENEFICIARIES RECORDS

In [2]:
scr_file = path_manager.get_data_file(Category.PS, PSFile.SCR)
scr = get_df(scr_file.path, scr_file.sheet, config_file)
scr = scr.sort_values(by=['sc_s1'])
unique_scr = scr.drop_duplicates(subset='rid')

In [5]:
# unique_scr

# UNIQUE INTAKE BENEFICIARIES RECORD

In [3]:
intake_s2 = ["rid", "fcid", "service","nt_s2", "family_of_missing", "survivor_of_detention", "primary_torture", "secondary_torture", "sexual_violation_a", "sexual_violation_p", "hrd", "journalist", "wov", "stgbv", "lgbti", "other"]
intake_s3 = ["rid", "fcid", "service","nt_s3", "family_of_missing", "survivor_of_detention", "primary_torture", "secondary_torture", "sexual_violation_a", "sexual_violation_p", "hrd", "journalist", "wov", "stgbv", "lgbti", "other"]
intake_re = ["rid", "fcid", "service","nt_re", "family_of_missing", "survivor_of_detention", "primary_torture", "secondary_torture", "sexual_violation_a", "sexual_violation_p", "hrd", "journalist", "wov", "stgbv", "lgbti", "other"]
int_criteria = ["rid", "family_of_missing", "survivor_of_detention", "primary_torture", "secondary_torture", "sexual_violation_a", "sexual_violation_p", "hrd", "journalist", "wov", "stgbv", "lgbti", "other"]

In [4]:
int_file = path_manager.get_data_file(Category.PS, PSFile.PSNT)
intake = get_df(int_file.path, int_file.sheet, config_file)
intake.insert(4, "service", None)
intake = intake.sort_values(by=['nt_s1', 'nt_s2', 'nt_s3', 'nt_re'], ascending=True)
unique_intake = intake.drop_duplicates(subset='rid', keep='last')

In [17]:
# unique_intake

In [ ]:
# path = os.path.join(unvfvt23, 'ptreintBeneficiaries23.csv')
# ptreint = pd.read_csv(path)
# ptreint.insert(4, 'session_num', 0)
# ptreint = pd.merge(ptreint, unique_intake[["rid", "family_of_missing", "survivor_of_detention", "primary_torture", "secondary_torture", "sexual_violation_a", "sexual_violation_p", "hrd", "journalist", "wov", "stgbv", "lgbti", "other"]], on='rid', how='left')
# ptreint = pd.merge(ptreint, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
# ptreint

In [ ]:
# ptreint.to_csv(path, index=False)

## PSYCHOSOCIAL INTAKE ASSESSMENT PROCESSING

In [7]:
intake_24 = filter_dataframe_on_date(intake, 'nt_s2', START, END)
intake_24 = intake_24[intake_s2]
intake_24["service"] = "int"
intake_24.rename(columns={"nt_s2": "date"}, inplace=True)

In [8]:
intake_24

,rid,fcid,service,date,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
38,R0861,8110080030,int,2024-07-12,No,No,No,Yes,No,No,No,No,Yes,No,No,No
39,R1452,8110080031,int,2024-09-09,No,Yes,Yes,Yes,No,Yes,Yes,No,Yes,No,No,No

In [11]:
intake3_24 = filter_dataframe_on_date(intake, 'nt_s3', START, END)
intake3_24 = intake3_24[intake_s3]
intake3_24["service"] = "int"
intake3_24.rename(columns={"nt_s3": "date"}, inplace=True)

In [13]:
# intake3_24

## PSYCHOSOCIAL RE-INTAKE ASSESSMENT PROCESSING

In [14]:
reintake_24 = filter_dataframe_on_date(intake, 'nt_re', START, END)
reintake_24 = reintake_24[intake_re]
reintake_24["service"] = "re"
reintake_24.rename(columns={"nt_re": "date"}, inplace=True)

In [15]:
reintake_24

,rid,fcid,service,date,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other
77,R1220,8110110015,re,2024-09-09,No,Yes,No,Yes,No,No,No,No,Yes,No,No,No
78,R1273,8110110016,re,2024-09-11,No,Yes,Yes,Yes,No,No,No,No,Yes,No,No,No
79,R1265,8110110017,re,2024-09-10,Yes,No,No,Yes,No,No,No,No,Yes,No,No,No
33,R1277,8110080027,re,2024-09-10,Yes,No,Yes,Yes,No,Yes,No,No,Yes,No,No,No

In [18]:
int24 = pd.concat([intake_24, intake3_24, reintake_24])

In [20]:
int24 = pd.merge(int24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [21]:
int24

,rid,fcid,service,date,family_of_missing,survivor_of_detention,primary_torture,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,sex,age
0,R0861,8110080030,int,2024-07-12,No,No,No,Yes,No,No,No,No,Yes,No,No,No,Female,19
1,R1452,8110080031,int,2024-09-09,No,Yes,Yes,Yes,No,Yes,Yes,No,Yes,No,No,No,Male,32
2,R1220,8110110015,re,2024-09-09,No,Yes,No,Yes,No,No,No,No,Yes,No,No,No,Female,36
3,R1273,8110110016,re,2024-09-11,No,Yes,Yes,Yes,No,No,No,No,Yes,No,No,No,Female,37
4,R1265,8110110017,re,2024-09-10,Yes,No,No,Yes,No,No,No,No,Yes,No,No,No,Female,37
5,R1277,8110080027,re,2024-09-10,Yes,No,Yes,Yes,No,Yes,No,No,Yes,No,No,No,Female,40

In [ ]:
# _int24 = int24[int24['service'] == 'int']
# reint24 = int24[int24['service'] == 're']
# _int24_path= os.path.join(root, data, processed, "unvfvt24", "intBeneficiaries24.csv")
# reint24_path= os.path.join(root, data, processed, "unvfvt24", "reintBeneficiaries24.csv")
# _int24.to_csv(_int24_path, index=False)
# reint24.to_csv(reint24_path, index=False)

## GROUP PSYCHOSOCIAL THERAPY COUNSELING PROCESSING

In [ ]:
# gc = get_df(gc_path, gc_sheet, config_file)
# gc_dataset = Dataset(config_file, gc_sheet)
# gc_24 = filter_dataframe_on_date(gc, gc_dataset.dvars, start, end)
# gc_24 = gc_24[gc_24['gc_total'] >= 7]  # To be reconsidered 
# gc_24_latestdate = gc_24[gc_dataset.dvars].max(axis=1)
# gc_24.insert(4, 'service', 'gc')
# gc_24.insert(5, 'date', gc_24_latestdate)

In [ ]:
# gc_24 = gc_24[['rid', 'fcid', 'service', 'date', 'gc_total']]
# gc_24 = pd.merge(gc_24, unique_intake[int_criteria], on='rid', how='left')
# gc_24 = pd.merge(gc_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# gc_24_path = os.path.join(root, data, processed, "unvfvt24", "gcBeneficiaries24.csv")
# gc_24.to_csv(gc_24_path, index=False)

## INDIVIDUAL PSYCHOSOCIAL THERAPY COUNSELING PROCESSING

In [ ]:
# ic = get_df(ic_path, ic_sheet, config_file)
# ic_dataset = Dataset(config_file, ic_sheet)
# ic_24 = filter_dataframe_on_date(ic, ic_dataset.dvars, start, end)
# ic_24_latestdate = ic_24[ic_dataset.dvars].max(axis=1)
# ic_24.insert(4, "service", "ic")
# ic_24.insert(5, "date", ic_24_latestdate)
# ic_24 = ic_24[['rid', 'fcid', 'service', 'date', 'ic_total']]
# ic_24.rename(columns={'ic_total': 'session_num'}, inplace=True)
# ic_24 = pd.merge(ic_24, unique_intake[int_criteria], on='rid', how='left')
# ic_24 = pd.merge(ic_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# ic_24

In [ ]:
# ic_24_path = os.path.join(root, data, processed, "unvfvt24", "icBeneficiaries24.csv")
# ic_24.to_csv(ic_24_path, index=False)

## PSYCHOSOCIAL FOLLOW-UP ASSESSMENT PROCESSING

In [ ]:
# psfua = get_df(psfua_path, psfua_sheet, config_file)
# psfua_dataset = Dataset(config_file, psfua_sheet)
# psfua3_24 = filter_dataframe_on_date(psfua, 'fu_3m', start, end)
# psfua3_24.insert(4, "service", "psfua3")
# psfua3_24 = psfua3_24[['rid', 'fcid', 'service', 'fu_3m']].copy()
# psfua3_24.rename(columns={'fu_3m': 'date'}, inplace=True)

In [ ]:
# psfua6_24 = filter_dataframe_on_date(psfua, 'fu_6m', start, end)
# psfua6_24.insert(4, "service", "psfua6")
# psfua6_24 = psfua6_24[['rid', 'fcid', 'service', 'fu_6m']].copy()
# psfua6_24.rename(columns={'fu_6m': 'date'}, inplace=True)

In [ ]:
# psfua12_24 = filter_dataframe_on_date(psfua, 'fu_12m', start, end)
# psfua12_24.insert(4, "service", "psfua12")
# psfua12_24 = psfua12_24[['rid', 'fcid', 'service', 'fu_12m']].copy()
# psfua12_24.rename(columns={'fu_12m': 'date'}, inplace=True)

In [ ]:
# psfua3_24 = pd.merge(psfua3_24, unique_intake[int_criteria], on='rid', how='left')
# psfua3_24 = pd.merge(psfua3_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# psfua6_24 = pd.merge(psfua6_24, unique_intake[int_criteria], on='rid', how='left')
# psfua6_24 = pd.merge(psfua6_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# psfua12_24 = pd.merge(psfua12_24, unique_intake[int_criteria], on='rid', how='left')
# psfua12_24 = pd.merge(psfua12_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# psfua3_path = os.path.join(root, data, processed, "unvfvt24", "psfua3Beneficiaries24.csv")
# psfua6_path = os.path.join(root, data, processed, "unvfvt24", "psfua6Beneficiaries24.csv")
# psfua12_path = os.path.join(root, data, processed, "unvfvt24", "psfua12Beneficiaries24.csv")
# psfua3_24.to_csv(psfua3_path, index=False)
# psfua6_24.to_csv(psfua6_path, index=False)
# psfua12_24.to_csv(psfua12_path, index=False)

## THERAPUTIC DOCUMENTATION PROCESSING

In [ ]:
# td = get_df(td_path, td_sheet, config_file)
# td_dataset = Dataset(config_file, td_sheet)

In [ ]:
# td_24 = filter_dataframe_on_date(td, td_dataset.dvars, start, end)
# td_24_latestdate = td_24[td_dataset.dvars].max(axis=1)
# td_24.insert(4, "service", "td")
# td_24.insert(5, "date", td_24_latestdate)
# td_24 = td_24[['rid', 'fcid', 'service', 'date']]
# td_24 = pd.merge(td_24, unique_intake[int_criteria], on='rid', how='left')
# td_24 = pd.merge(td_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# td_24_path = os.path.join(root, data, processed, "unvfvt24", "tdBeneficiaries24.csv")
# td_24.to_csv(td_24_path, index=False)

### Creative Documentation Workshop
Next time, TD should include all activities related to TD, where the output is one column contains value 1 if a beneficiary has participated in any activity of TD during the report period.

In [ ]:
# cdw = get_df(cws_path, cws_sheet, config_file)
# cdw_dataset = Dataset(config_file, cws_sheet)

In [ ]:
# cdw_24 = filter_dataframe_on_date(cdw, cdw_dataset.dvars, start, end)
# cdw_24_latestdate = cdw_24[cdw_dataset.dvars].max(axis=1)
# cdw_24.insert(4, "service", "cdw")
# cdw_24.insert(5, "date", cdw_24_latestdate)
# cdw_24 = cdw_24[['rid', 'fcid', 'service', 'date']]
# cdw_24 = pd.merge(cdw_24, unique_intake[int_criteria], on='rid', how='left')
# cdw_24 = pd.merge(cdw_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# cdw_24_path = os.path.join(root, data, processed, "unvfvt24", "cdwBeneficiaries24.csv")
# cdw_24.to_csv(cdw_24_path, index=False)

## Trauma Resilience Workshop PROCESSING

In [ ]:
# trw = get_df(trw_path, trw_sheet, config_file)
# trw_dataset = Dataset(config_file, trw_sheet)

In [ ]:
# trw_24 = filter_dataframe_on_date(trw, trw_dataset.dvars, start, end)
# trw_24_latestdate = trw_24[trw_dataset.dvars].max(axis=1)
# trw_24.insert(4, "service", "trw")
# trw_24.insert(5, "date", trw_24_latestdate)
# trw_24 = trw_24[['rid', 'fcid', 'service', 'date']]
# trw_24 = pd.merge(trw_24, unique_intake[int_criteria], on='rid', how='left')
# trw_24 = pd.merge(trw_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# trw_24_path = os.path.join(root, data, processed, "unvfvt24", "trwBeneficiaries24.csv")
# trw_24.to_csv(trw_24_path, index=False)

## POST-EARTHQUAKE INTERVENTION PROCESSING

In [ ]:
# pei = get_df(pei_path, pei_sheet, config_file)
# pei_dataset = Dataset(config_file, pei_sheet)

In [ ]:
# pei_24 = filter_dataframe_on_date(pei, pei_dataset.dvars, start, end)
# pei_24_latestdate = pei_24[pei_dataset.dvars].max(axis=1)
# pei_24.insert(4, "service", "pei")
# pei_24.insert(5, "date", pei_24_latestdate)
# pei_24 = pei_24[['rid', 'fcid', 'service', 'date', "pei_total"]]
# pei_24 = pd.merge(pei_24, unique_intake[int_criteria], on='rid', how='left')
# pei_24 = pd.merge(pei_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# pei_24

In [ ]:
# pei_24_path = os.path.join(root, data, processed, "unvfvt24", "peiBeneficiaries24.csv")
# pei_24.to_csv(pei_24_path, index=False)

In [ ]:
# pd.read_csv(pei_24_path)

## GROUP PHYSIOTHERAPY PROCESSING

In [ ]:
# ptg = get_df(gpt_path, gpt_sheet, config_file)
# ptg_dataset = Dataset(config_file, gpt_sheet)

In [ ]:
# ptg_24 = filter_dataframe_on_date(ptg, ptg_dataset.dvars, start, end)
# ptg_24_latestdate = ptg_24[ptg_dataset.dvars].max(axis=1)
# ptg_24 = ptg_24.copy()
# non_nat_counts = ptg_24[ptg_dataset.dvars].notna().sum(axis=1)
# ptg_24['pt_g_total'] = np.where(ptg_24['pt_g_total'] == 0, non_nat_counts, ptg_24['pt_g_total'])
# ptg_24 = ptg_24[ptg_24['pt_status'] != 'Drop Out']
# ptg_24.insert(4, "service", "gpt")
# ptg_24.insert(5, "date", ptg_24_latestdate)
# ptg_24 = ptg_24[['rid', 'fcid', 'service', 'date', 'pt_g_total']]

In [ ]:
# ptg_24 = pd.merge(ptg_24, unique_intake[int_criteria], on='rid', how='left')
# ptg_24 = pd.merge(ptg_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# ptg_24_path = os.path.join(root, data, processed, "unvfvt24", "ptgBeneficiaries24.csv")
# ptg_24.to_csv(ptg_24_path, index=False)

## INDIVIDUAL PHYSIOTHERAPY PROCESSING

In [ ]:
# pti = get_df(ipt_path, ipt_sheet, config_file)
# pti_dataset = Dataset(config_file, ipt_sheet)
# non_nat_counts = ipt[ipt_dataset.dvars].notna().sum(axis=1)
# ipt['pt_i_total'] = np.where(ipt['pt_i_total'] == 0, non_nat_counts, ipt['pt_i_total'])

In [ ]:
# pti_24 = filter_dataframe_on_date(pti, pti_dataset.dvars, start, end)
# pti_24_latestdate = pti_24[pti_dataset.dvars].max(axis=1)
# pti_24 = pti_24.copy()
# non_nat_counts = pti_24[pti_dataset.dvars].notna().sum(axis=1)
# pti_24['pt_i_total'] = np.where(pti_24['pt_i_total'] == 0, non_nat_counts, pti_24['pt_i_total'])
# pti_24.insert(4, "service", "ipt")
# pti_24.insert(5, "date", pti_24_latestdate)
# pti_24 = pti_24[['rid', 'fcid', 'service', 'date', 'pt_i_total']]

In [ ]:
# pti_24

In [ ]:
# pti_24 = pd.merge(pti_24, unique_intake[int_criteria], on='rid', how='left')
# pti_24 = pd.merge(pti_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# pti_24_path = os.path.join(root, data, processed, "unvfvt24", "ptiBeneficiaries24.csv")
# pti_24.to_csv(pti_24_path, index=False)

## PHYSIOTHERAPY INTAKE ASSESSMENT PROCESSING

In [ ]:
# ptint = get_df(ptint_path, ptint_sheet, config_file)
# ptint_dataset = Dataset(config_file, ptint_sheet)

In [ ]:
# ptint_24 = filter_dataframe_on_date(ptint, ptint_dataset.dvars, start, end)
# ptint_24_latestdate = ptint_24[['pt_nt_s1', 'pt_nt_s2', 'pt_nt_re']].max(axis=1)
# _ptint23 = ptint23.copy()
# ptint_24.insert(4, 'service', 'ptint/re')
# ptint_24.insert(5, 'date', ptint_24_latestdate)
# ptint_24 = ptint_24[['rid', 'fcid', 'service', 'date']]

In [ ]:
# ptint_24

In [ ]:
# ptint_24 = pd.merge(ptint_24, unique_intake[int_criteria], on='rid', how='left')
# ptint_24 = pd.merge(ptint_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# ptint_24_path = os.path.join(root, data, processed, "unvfvt24", "ptintBeneficiaries24.csv")
# ptint_24.to_csv(ptint_24_path, index=False)

## PHYSIOTHERAPY FOLLOW-UP ASSESSMENT PROCESSING

In [ ]:
# ptfua = get_df(ptfua_path, ptfua_sheet, config_file)
# ptfua_dataset = Dataset(config_file, ptfua_sheet)

In [ ]:
# ptfua3_24 = filter_dataframe_on_date(ptfua, 'fu_3m', start, end)
# ptfua3_24.insert(4, "service", "ptfua3")
# ptfua3_24 = ptfua3_24.rename(columns={'fu_3m': 'date'})
# ptfua3_24 = ptfua3_24[['rid', 'fcid', 'service', 'date']]
# ptfua3_24 = pd.merge(ptfua3_24, unique_intake[int_criteria], on='rid', how='left')
# ptfua3_24 = pd.merge(ptfua3_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
# ptfua3_24_path = os.path.join(root, data, processed, "unvfvt24", "ptfua3Beneficiaries24.csv")
# ptfua3_24.to_csv(ptfua3_24_path, index=False)

In [ ]:
# ptfua6_24 = filter_dataframe_on_date(ptfua, 'fu_6m', start, end)
# ptfua6_24.insert(4, "service", "ptfua6")
# ptfua6_24 = ptfua6_24.rename(columns={'fu_6m': 'date'})
# ptfua6_24 = ptfua6_24[['rid', 'fcid', 'service', 'date']]
# ptfua6_24 = pd.merge(ptfua6_24, unique_intake[int_criteria], on='rid', how='left')
# ptfua6_24 = pd.merge(ptfua6_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
# ptfua6_24_path = os.path.join(root, data, processed, "unvfvt24", "ptfua6Beneficiaries24.csv")
# ptfua6_24.to_csv(ptfua6_24_path, index=False)

In [ ]:
# ptfua12_24 = filter_dataframe_on_date(ptfua, 'fu_12m', start, end)
# ptfua12_24.insert(4, "service", "ptfua12")
# ptfua12_24 = ptfua12_24.rename(columns={'fu_12m': 'date'})
# ptfua12_24 = ptfua12_24[['rid', 'fcid', 'service', 'date']]
# ptfua12_24 = pd.merge(ptfua12_24, unique_intake[int_criteria], on='rid', how='left')
# ptfua12_24 = pd.merge(ptfua12_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
# ptfua12_24_path = os.path.join(root, data, processed, "unvfvt24", "ptfua12Beneficiaries24.csv")
# ptfua12_24.to_csv(ptfua12_24_path, index=False)

In [ ]:
# pd.read_csv(ptfua12_24_path)

## Case Management

In [ ]:
cm = pd.read_excel('referrals.xlsx')
cm = cm[['referral_ID', 'FC_ID', 'need', 'referralDate', 'referredToFromEntity']]
cm = cm.rename(columns={'referral_ID': 'rid', 'FC_ID': 'fcid', 'referralDate': 'date', 'referredToFromEntity': 'entity'})

In [ ]:
cm_24 = filter_dataframe_on_date(cm, 'date', start, end)
cm_24.insert(4, "service", "cm")
cm_24 = cm_24[['rid', 'fcid', 'service', 'date', 'need', 'entity']]
# cm_24 = pd.merge(cm_24, unique_intake[int_criteria], on='rid', how='left')
# cm_24 = pd.merge(cm_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
cm_24['entity'].value_counts()

In [ ]:
# cm_24_path = os.path.join(root, data, processed, "unvfvt24", "cmBeneficiaries24.csv")
# cm_24.to_csv(cm_24_path, index=False)

### TD IU Delivery, Communication, Advocacy Workshop

In [ ]:
# td_del = pd.read_excel('td_tracker.xlsx')
# td_del = td_del[['Ref #', 'FC ID #', 'IU Del', 'Com Pub', 'Adv Partic']]
# td_del = td_del.rename(columns={'Ref #': 'rid', 'FC ID #': 'fcid', 'IU Del': 'iu_del', 'Com Pub': 'com_pub', 'Adv Partic': 'adv_par'})

In [ ]:
# td_del_24 = filter_dataframe_on_date(td_del, ['iu_del', 'com_pub', 'adv_par'], start, end)
# td_del_24_latestdate = td_del_24[['iu_del', 'com_pub', 'adv_par']].max(axis=1)
# td_del_24.insert(4, "service", "td_del")
# td_del_24.insert(5, 'date', td_del_24_latestdate)
# td_del_24 = td_del_24[['rid', 'fcid', 'service', 'date']]

In [ ]:
# td_del_24 = pd.merge(td_del_24, unique_intake[int_criteria], on='rid', how='left')
# td_del_24 = pd.merge(td_del_24, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# td_del_24_path = os.path.join(root, data, processed, "unvfvt24", "tdDelBeneficiaries24.csv")
# td_del_24.to_csv(td_del_24_path, index=False)