In [1]:
from src.all_in_one import *
from src.basic_variables import *
from src.analysis_functions import *

2025-01-09 18:31:55,774 - INFO - Processed 756 records so far.
2025-01-09 18:31:56,992 - INFO - Processed 342 records so far.

In [2]:
scr_file = path_manager.get_data_file(Category.PS, PSFile.SCR)
scr_dataset = Dataset(config_file, scr_file.sheet)
scr = get_df(scr_file.path, scr_file.sheet)
filtered_scr = filter_dataframe_on_date(
    scr, scr_dataset.dvars, START, END, FilterType.IN
)

In [10]:
# scr.iloc[812, 2] = 'R1304'
# scr.to_csv(scr_file.path, index=False)

In [3]:
# scr.to_clipboard(index=False)

In [3]:
# filtered_scr

In [16]:
# Getting the subset of filtered_scr where sc_s1 is null
f_scr_sc_s1_is_null = filtered_scr[filtered_scr["sc_s1"].isnull()]
# f_scr_sc_s1_is_null

In [ ]:
f_scr_sc_s1_is_null_id = f_scr_sc_s1_is_null["rid"].tolist()
# filter scr on f_scr_sc_s1_is_null_id
scr_filtered_on_f_scr_sc_s1_is_null_id = scr[scr["rid"].isin(f_scr_sc_s1_is_null_id)]
scr_filtered_on_f_scr_sc_s1_is_null_id

## New Screening

In [22]:
new_scr = filter_dataframe_on_date(
    scr,
    "sc_s1",
    START,
    END,
)
# new_scr

In [23]:
re_scr = filter_dataframe_on_date(
    scr,
    "sc_re",
    START,
    END,
)
# re_scr

In [6]:
pei_ass = filter_dataframe_on_date(
    scr,
    "pei_pre_as",
    START,
    END,
)
# pei_ass
pei_ass["sex"].value_counts()

sex
Female    22
Male       1
Name: count, dtype: int64

In [25]:
# count the number of sessions by counting the number of dates in date columns if dates are >= start <= end.
new_scr.shape[0] + re_scr.shape[0]

47

## New Screening Sex and Age Group

In [26]:
new_scr["sex"].value_counts(dropna=False)

sex
Female    25
Male      17
Name: count, dtype: int64

In [27]:
categorize_and_count_ages(new_scr["age"])

age
18-27     7
28-37    15
38-47     8
48-57     7
58-67     5
68-77     0
Name: count, dtype: int64

In [28]:
new_scr_source = new_scr["source"].value_counts(dropna=False)
new_scr_source_order = [
    "IRM",
    "ADMSP beneficiary (current or former)",
    "Family member or friend",
    "ADMSP member",
    "Social Media",
    "Other",
]
new_scr_source = new_scr_source.reindex(new_scr_source_order)
new_scr_source
# new_scr_source.index

source
IRM                                      6.0
ADMSP beneficiary (current or former)   21.0
Family member or friend                  8.0
ADMSP member                             4.0
Social Media                             2.0
Other                                    NaN
Name: count, dtype: float64

### Getting the Sequences of Needs

In [50]:
needs_count = (
    new_scr[scr_dataset.bovars[1:]].apply(lambda x: x.value_counts()).fillna(0)
)
needs_count = needs_count.T.reset_index().rename(
    columns={"index": "Needs"}
)  # Transposing

needs_count

          Needs  No  Yes
0    need_mhpss  21   21
1      need_trw  31   11
2  need_out_ref  30   12
3      need_tmh  39    3
4      need_pei  34    8