In [19]:
from src.all_in_one import *
from src.basic_variables import *
from src.analysis_functions import *

In [20]:
scr_file = path_manager.get_data_file(Category.PS, PSFile.SCR)
scr_dataset = Dataset(config_file, scr_file.sheet)
scr = get_df(scr_file.path, scr_file.sheet)
filtered_scr = filter_dataframe_on_date(
    scr, scr_dataset.dvars, START, END, FilterType.IN
)

In [10]:
# scr.iloc[812, 2] = 'R1304'
# scr.to_csv(scr_file.path, index=False)

In [3]:
# scr.to_clipboard(index=False)

In [21]:
filtered_scr

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,pei_pre_as,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note
47,IJ,57,R0885,محمد,دادا,Male,62,Syrian,GTZ,2023-09-11,NaT,2024-11-08,IRM,NaN,Yes,No,Yes,No,Yes,Art Therapy
119,IJ,124,R0799,ندى,خليفة,Female,36,Syrian,GTZ,2023-01-26,2024-11-15,NaT,Family member or friend,NaN,Yes,No,No,No,Yes,NaN
154,IJ,159,R1477,أسماء,كردية,Female,34,Syrian,GTZ,2024-10-08,NaT,NaT,ADMSP member,NaN,Yes,No,No,No,No,NaN
155,IJ,160,R0189,هالة,غزالة,Female,61,Syrian,GTZ,NaT,NaT,2024-10-30,ADMSP beneficiary (current or former),NaN,No,Yes,Yes,No,No,اغلاق
156,IJ,161,R0653,علي,حسين محمد,Male,34,Syrian,GTZ,2024-10-31,NaT,NaT,IRM,NaN,Yes,No,No,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,YQ,194,R0872,عمر,تركي,Male,26,Syrian,GTZ,NaT,NaT,2024-11-06,IRM,NaN,No,No,Yes,No,No,احالة الى العلاج بالفن
815,YQ,195,R1498,محمد,اليمان,Male,58,Syrian,GTZ,2024-11-05,NaT,NaT,IRM,NaN,No,No,Yes,No,No,احالة الى العلاج بالفن
816,YQ,196,R1345,أحمد,قاسم,Male,31,Syrian,GTZ,2024-11-08,NaT,NaT,ADMSP beneficiary (current or former),NaN,Yes,No,No,No,No,NaN
817,YQ,197,R1508,عمر,فياض,Male,30,Syrian,GTZ,2024-11-13,NaT,NaT,ADMSP member,NaN,No,No,Yes,No,No,احالة الى العلاج بالفن
818,YQ,198,R1358,زياد,الصيني,Male,44,Syrian,GTZ,2024-11-13,NaT,NaT,ADMSP beneficiary (current or former),NaN,Yes,No,No,No,No,NaN

In [16]:
# Getting the subset of filtered_scr where sc_s1 is null
f_scr_sc_s1_is_null = filtered_scr[filtered_scr["sc_s1"].isnull()]
# f_scr_sc_s1_is_null

In [ ]:
f_scr_sc_s1_is_null_id = f_scr_sc_s1_is_null["rid"].tolist()
# filter scr on f_scr_sc_s1_is_null_id
scr_filtered_on_f_scr_sc_s1_is_null_id = scr[scr["rid"].isin(f_scr_sc_s1_is_null_id)]
scr_filtered_on_f_scr_sc_s1_is_null_id

## New Screening

In [22]:
new_scr = filter_dataframe_on_date(
    scr,
    "sc_s1",
    START,
    END,
)
# new_scr

In [23]:
re_scr = filter_dataframe_on_date(
    scr,
    "sc_re",
    START,
    END,
)
# re_scr

In [24]:
pei_ass = filter_dataframe_on_date(
    scr,
    "pei_pre_as",
    START,
    END,
)
# pei_ass
# pei_ass["sex"].value_counts()

In [25]:
# count the number of sessions by counting the number of dates in date columns if dates are >= start <= end.
new_scr.shape[0] + re_scr.shape[0]

47

## New Screening Sex and Age Group

In [26]:
new_scr["sex"].value_counts(dropna=False)

sex
Female    25
Male      17
Name: count, dtype: int64

In [27]:
categorize_and_count_ages(new_scr["age"])

age
18-27     7
28-37    15
38-47     8
48-57     7
58-67     5
68-77     0
Name: count, dtype: int64

In [28]:
new_scr_source = new_scr["source"].value_counts(dropna=False)
new_scr_source_order = [
    "IRM",
    "ADMSP beneficiary (current or former)",
    "Family member or friend",
    "ADMSP member",
    "Social Media",
    "Other",
]
new_scr_source = new_scr_source.reindex(new_scr_source_order)
new_scr_source
# new_scr_source.index

source
IRM                                      6.0
ADMSP beneficiary (current or former)   21.0
Family member or friend                  8.0
ADMSP member                             4.0
Social Media                             2.0
Other                                    NaN
Name: count, dtype: float64

In [33]:
scr_dataset.bovars[1:]

['need_mhpss', 'need_trw', 'need_out_ref', 'need_tmh', 'need_pei']

In [41]:
for var in scr_dataset.bovars[1:]:
    clients_need = new_scr[var].value_counts().sort_index()
    # clients_need.sort_index(ascending=False)
    print(clients_need)

need_mhpss
Yes    21
No     21
Name: count, dtype: int64
need_trw
No     31
Yes    11
Name: count, dtype: int64
need_out_ref
No     30
Yes    12
Name: count, dtype: int64
need_tmh
No     39
Yes     3
Name: count, dtype: int64
need_pei
No     34
Yes     8
Name: count, dtype: int64

### Getting the Sequences of Needs

In [36]:
count_df = new_scr[scr_dataset.bovars[1:]].apply(lambda x: x.value_counts()).fillna(0)
count_df = count_df.T.reset_index().rename(columns={"index": "needs"})  # Transposing

In [52]:
# count_df