In [2]:
from src.all_in_one import *
from src.basic_variables import *

2024-10-24 11:17:52,620 - INFO - Processed 711 records so far.
2024-10-24 11:17:53,555 - INFO - Processed 328 records so far.

## Initiate Intake Dataset

In [3]:
int_file = path_manager.get_data_file(Category.PS, PSFile.PSNT)
intake = get_df(int_file.path, int_file.sheet)
intake_dataset = Dataset(config_file, int_file.sheet)
# filtered_intake = filter_dataframe_on_date(intake, intake_dataset.dvars, START, END, FilterType.IN)

In [4]:
intake.head()

,intsp,ntspi,rid,fcid,firstname,lastname,nt_s1,nt_s2,nt_s3,nt_re,...,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,note
0,IJ,1,R0450,8110080001,آية,فاضل,2022-08-25,2022-08-31,2022-09-15,NaT,...,Yes,No,No,No,No,Yes,Yes,No,No,الملف مغلق
1,IJ,2,R0481,8110080002,حميدة,مصطفى,2022-08-26,2022-08-29,NaT,2023-11-01,...,Yes,No,No,No,No,Yes,No,No,Yes,اتجار بالاعضاء
2,IJ,3,R0459,8110080003,فاطمة,ديوك,2022-09-01,2022-09-06,2022-09-09,2023-10-17,...,Yes,No,No,No,No,Yes,No,No,No,NaN
3,IJ,4,R0571,8110080004,سميحة,نجمة,2022-12-15,2022-12-22,2022-12-27,NaT,...,No,No,No,No,No,Yes,No,No,No,NaN
4,IJ,5,R0487,8110080005,رياض,الأسعد,2022-12-15,2022-12-19,NaT,NaT,...,No,No,No,No,No,Yes,No,No,No,NaN

## Filter New Intake

In [16]:
new_nt_s1 = filter_dataframe_on_date(intake, "nt_s1", START, END)
new_intake = filter_dataframe_on_date(intake, "nt_s2", START, END)
new_nt_s3 = filter_dataframe_on_date(intake, "nt_s3", START, END)
new_reintake = filter_dataframe_on_date(intake, "nt_re", START, END)

In [38]:
# new_intake

In [39]:
# new_reintake

## Intake Number of Sessions

In [20]:
nt_s1 = new_nt_s1.shape[0]
nt_s2 = new_intake.shape[0]
nt_s3 = new_nt_s3.shape[0]
nt_re = new_reintake.shape[0]

In [40]:
# nt_s1 + nt_s2 + nt_s3 + nt_re

## New Intake Sex and Age Groups

In [41]:
f_new_intake = pd.merge(
    new_intake, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)
# f_new_intake[['rid', 'fcid', 'sex', 'age']]

In [42]:
# f_new_intake['sex'].value_counts(dropna=False, normalize=True)

In [43]:
# categorize_and_count_ages(f_new_intake['age'])

## Beneficiaries Victimhood

In [35]:
# intake_dataset.bovars

In [36]:
count_df = new_intake[intake_dataset.bovars].apply(lambda x: x.value_counts()).fillna(0)
count_df = count_df.T.reset_index().rename(
    columns={"index": "victimhood"}
)  # Transposing
count_df["No"] = count_df["No"].astype("Int64")
count_df["Yes"] = count_df["Yes"].astype("Int64")

In [44]:
# count_df