In [2]:
from src.all_in_one import *

In [ ]:
# Screening
scr_dataset = Dataset(config_file, scr_sheet)
scr = get_df(scr_path, scr_sheet)
unique_scr = scr.drop_duplicates(subset='rid')

In [ ]:
scr

In [3]:
int_file = path_manager.get_data_file(Category.PS, PSFile.PSNT)
intake = get_df(int_file.path, int_file.sheet)
intake_dataset = Dataset(config_file, int_file.sheet)
# filtered_intake = filter_dataframe_on_date(intake, intake_dataset.dvars, start, end, FilterType.IN)

In [ ]:
# filtered_intake

In [4]:
intake

,intsp,ntspi,rid,fcid,firstname,lastname,nt_s1,nt_s2,nt_s3,nt_re,...,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,note
0,IJ,1,R0450,8110080001,آية,فاضل,2022-08-25,2022-08-31,2022-09-15,NaT,...,Yes,No,No,No,No,Yes,Yes,No,No,الملف مغلق
1,IJ,2,R0481,8110080002,حميدة,مصطفى,2022-08-26,2022-08-29,NaT,2023-11-01,...,Yes,No,No,No,No,Yes,No,No,Yes,اتجار بالاعضاء
2,IJ,3,R0459,8110080003,فاطمة,ديوك,2022-09-01,2022-09-06,2022-09-09,2023-10-17,...,Yes,No,No,No,No,Yes,No,No,No,NaN
3,IJ,4,R0571,8110080004,سميحة,نجمة,2022-12-15,2022-12-22,2022-12-27,NaT,...,No,No,No,No,No,Yes,No,No,No,NaN
4,IJ,5,R0487,8110080005,رياض,الأسعد,2022-12-15,2022-12-19,NaT,NaT,...,No,No,No,No,No,Yes,No,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,YQ,128,R0896,8110020128,أحمد,النزال,2024-02-29,2024-04-05,NaT,NaT,...,Yes,No,Yes,No,No,Yes,Yes,No,No,NaN
325,YQ,129,R0326,8110020129,أسماء,عزيزة,2024-03-01,2024-03-27,NaT,NaT,...,Yes,No,No,No,No,Yes,No,No,No,NaN
326,YQ,130,R1130,8110020130,قصي,تركي,2024-03-28,2024-04-04,NaT,NaT,...,Yes,No,Yes,No,No,Yes,Yes,No,No,NaN
327,YQ,131,R1246,8110020131,فادية,سريول,2024-05-21,2024-05-29,NaT,NaT,...,Yes,No,No,No,No,Yes,No,No,No,NaN
328,YQ,132,R1253,8110020132,صفاء,محمد,2024-05-22,2024-05-24,NaT,NaT,...,Yes,No,No,No,No,Yes,No,No,No,NaN

In [ ]:
# intake[['rid', 'fcid', 'firstname', 'lastname']].to_clipboard()

In [ ]:
filtered_intake = pd.merge(filtered_intake, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [ ]:
# filtered_intake.to_csv(int_path, index=False)
# This foolish step change the intake data set by the filtered_dataset.

In [ ]:
missing = (intake['family_of_missing'] == 'Yes')

In [ ]:
missing.mean()

In [ ]:
detainee = (intake['survivor_of_detention'] == 'Yes')

In [ ]:
detainee.mean()

In [ ]:
missing_and_detained = missing & detainee

In [ ]:
missing_and_detained.mean()

In [ ]:
p_m_or_d = missing.mean() + detainee.mean() - missing_and_detained.mean()
p_m_or_d

In [ ]:
36/291

In [ ]:
fcid = intake['fcid'].unique()
fcid = fcid.astype(str)

In [ ]:
unique_fcid = [id[3:6] for id in fcid]
set(unique_fcid)

In [ ]:
# id = 'R0571'

In [ ]:
# intake[intake['rid'] == id]

In [ ]:
# int_q4 = filter_df_by_date(intake, intake_dataset.dvars, threshold)
# int_q4

In [ ]:
# int_q4.to_excel('intake_quarter4_2023.xlsx')

In [ ]:
# (int_q4[intake_dataset.dvars] > threshold).sum().sum()

In [ ]:
# new_intake = filter_df_by_date(int_q4, ['nt_s1'], threshold)
# new_intake

In [ ]:
# new_intake['sex'].value_counts()

In [ ]:
# reintake = filter_df_by_date(int_q4, ['nt_re'], threshold)
# reintake

In [ ]:
# categorize_age(new_intake)

In [ ]:
# categorize_and_count_ages(new_intake['age'])

In [ ]:
# normalized_value_counts(int_q4['family_of_missing'])

In [ ]:
# normalized_value_counts(int_q4['survivor_of_detention'])

In [ ]:
# normalized_value_counts(int_q4['primary_torture'])

In [ ]:
# normalized_value_counts(int_q4['secondary_torture'])

In [ ]:
# normalized_value_counts(int_q4['sexual_violation_a'])

In [ ]:
# normalized_value_counts(int_q4['sexual_violation_p'])

In [ ]:
# normalized_value_counts(int_q4['hrd'])

In [ ]:
# normalized_value_counts(int_q4['journalist'])

In [ ]:
# normalized_value_counts(int_q4['wov'])

In [ ]:
# normalized_value_counts(int_q4['stgbv'])

In [ ]:
# normalized_value_counts(int_q4['lgbti'])

In [ ]:
# normalized_value_counts(int_q4['other'])

In [ ]:
# new_intake['intsp'].value_counts()

In [ ]:
# reintake['intsp'].value_counts()

In [ ]:
# reintake['sex'].value_counts()