In [1]:
from src.all_in_one import *
from src.basic_variables import *
from src.analysis_functions import *

2025-01-09 13:28:39,070 - INFO - Processed 756 records so far.
2025-01-09 13:28:40,190 - INFO - Processed 342 records so far.

## Counting PSFS Sessions/Clients

In [2]:
psfs_file = path_manager.get_data_file(Category.PT, PTFile.PSFS)
psfs = get_df(psfs_file.path, psfs_file.sheet)
psfs_dataset = Dataset(config_file, psfs_file.sheet)
filtered_psfs = filter_dataframe_on_date(psfs, psfs_dataset.dvars, START, END)

In [4]:
# filtered_psfs.shape
filtered_psfs

,psfssp,psfsspi,rid,fcid,firstname,lastname,sex,age,nat,psfs,score,vic,note
213,ZN,19,R0653,8110110023,علي,محمد,Male,34,Syrian,2024-11-11,4,TS,NaN
214,ZN,20,R1232,8110110022,بشرى,دعاس,female,38,Syrian,2024-11-12,4,NaN,NaN
215,ZN,21,R1371,8110020134,علي,الحسين,Male,62,Syrian,2024-11-13,4,NaN,NaN
216,ZN,22,R1267,8110020133,هزار,نزال,Female,32,Syrian,2024-11-13,5,NaN,NaN
217,ZN,23,R1337,8110100023,احمد,الموس,Male,54,Syrian,2024-11-19,3,NaN,NaN
218,ZN,24,R1264,8110080032,سمر,شيخ خليل,female,49,Syrian,2024-11-18,4,NaN,NaN
219,ZN,25,R1292,8110100024,رقية,دعاس,Female,40,Syrian,2024-11-20,7,NaN,NaN
220,ZN,26,R1497,8110110024,سهيل,اسطنبولي,Male,31,Syrian,2024-11-20,4,NaN,NaN
221,ZN,27,R1250,8110100024,فاطمة,عاشور,Female,40,Syrian,2024-11-21,3,NaN,NaN
222,ZN,28,R1345,8110020135,احمد,قاسم,Male,31,Syrian,2024-11-22,3,NaN,NaN
223,ZN,29,R1511,8110100026,دعاء,رزية,Female,28,Syrian,2024-11-28,4,NaN,NaN
224,ZN,30,R1358,8110020136,زياد,الصيني,Male,44,Syrian,2024-12-03,4,NaN,NaN
225,ZN,31,R1378,8110100027,خنساء,قشعم,Female,34,Syrian,2024-12-03,5,NaN,NaN

In [5]:
filtered_psfs["sex"].value_counts()

sex
Male      6
Female    5
female    2
Name: count, dtype: int64

In [6]:
categorize_and_count_ages(filtered_psfs["age"])

age
18-27    0
28-37    6
38-47    4
48-57    2
58-67    1
68-77    0
Name: count, dtype: int64

## Counting PT Intake and Re-Intake Assessment Sessions/Clients

In [7]:
ptnt_file = path_manager.get_data_file(Category.PT, PTFile.PTNT)
ptnt = get_df(ptnt_file.path, ptnt_file.sheet)
ptnt_dataset = Dataset(config_file, ptnt_file.sheet)
filtered_ptnt = filter_dataframe_on_date(ptnt, ptnt_dataset.dvars, START, END)

In [9]:
# filtered upon all date columns
filtered_ptnt
# filtered_ptnt.shape

,ptintsp,ptntspi,rid,fcid,firstname,lastname,pt_nt_s1,pt_nt_s2,pt_nt_re,psc,note
204,ZN,11,R1215,8110110013,عمر,غريبو,2024-03-27,NaT,2024-12-10,Muhmd T,NaN
208,ZN,15,R0687,8110100021,ايمن,نزال,2024-04-19,NaT,2024-12-02,Muhmd T,NaN
216,ZN,23,R1452,8110080031,احمد,دعاس,2024-09-10,NaT,2024-12-09,Israa,NaN
217,ZN,24,R1345,8110020135,احمد,قاسم,2024-11-25,NaT,NaT,Yaqzan,NaN
218,ZN,25,R1337,8110100023,احمد,الموس,2024-11-26,NaT,NaT,Lama,NaN
219,ZN,26,R1371,8110020134,علي,الحسين,2024-11-27,NaT,NaT,Yaqzan,NaN
220,ZN,27,R1497,8110110024,سهيل,اسطنبولي,2024-11-28,NaT,NaT,Muhmd T,NaN
221,ZN,28,R0687,8110100021,ايمن,نزال,NaT,NaT,2024-12-02,NaN,NaN
222,ZN,29,R0644,8110100009,محلي,ماميك,NaT,NaT,2024-12-04,Lama,NaN
223,ZN,30,R1358,8110020136,زياد,الصيني,2024-12-04,NaT,NaT,Yaqzan,NaN
224,ZN,31,R1264,8110080032,اسراء,شيخ خليل,2024-11-28,NaT,NaT,Israa,ملاحظة هذه المستفيدة تم تقسييمها من قبل فرح

In [10]:
# filtered upon session 1 only
f_new_ptnt = filter_dataframe_on_date(ptnt, "pt_nt_s1", START, END)
f_new_ptnt.shape

(6, 11)

In [11]:
# filtered upon session 2 only
f_new_ptnt_s2 = filter_dataframe_on_date(ptnt, "pt_nt_s2", START, END)
f_new_ptnt_s2.shape

(0, 11)

In [12]:
# filtered upon re-intake only
f_ptnt_re = filter_dataframe_on_date(ptnt, "pt_nt_re", START, END)
f_ptnt_re.shape

(5, 11)

In [13]:
# PTNT total number of sessions
ptnt_total_number_of_sessions = (
    f_new_ptnt.shape[0] + f_new_ptnt_s2.shape[0] + f_ptnt_re.shape[0]
)
ptnt_total_number_of_sessions

11

In [14]:
# Merge with screening to get sex distribution.
f_new_ptnt_and_sex = pd.merge(
    f_new_ptnt, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)
f_new_ptnt_and_sex["sex"].value_counts()

sex
Male      5
Female    1
Name: count, dtype: int64

## Counting PT Follow-up Sessions/Clients

In [15]:
ptfua_file = path_manager.get_data_file(Category.PT, PTFile.PTFU)
ptfua = get_df(ptfua_file.path, ptfua_file.sheet)
ptfua_dataset = Dataset(config_file, ptfua_file.sheet)
filtered_ptfua = filter_dataframe_on_date(ptfua, ptfua_dataset.dvars, START, END)

In [18]:
# filtered_ptfua.to_clipboard()
filtered_ptfua

,fuasp,fuspi,rid,fcid,firstname,lastname,fu_3m,fu_6m,fu_12m,status,closure_reason,note
102,ZN,9,R0905,8110050104,علي,احمد,2024-08-20,2024-12-04,NaT,NaN,NaN,NaN
103,ZN,10,R1130,8110020130,قصي,تركي,2024-08-20,2024-12-11,NaT,NaN,NaN,NaN
104,ZN,11,R0798,8110080028,محمد,الاسعد,2024-08-20,2024-12-02,NaT,NaN,NaN,NaN
105,ZN,12,R0678,8110080020,محمد,صالح,2024-08-22,2024-12-02,NaT,NaN,NaN,NaN
106,ZN,13,R0896,8110020128,احمد,نزال,2024-08-23,2024-12-04,NaT,NaN,NaN,NaN

In [16]:
f_ptfua_3m = filter_dataframe_on_date(ptfua, "fu_3m", START, END)
f_ptfua_6m = filter_dataframe_on_date(ptfua, "fu_6m", START, END)
f_ptfua_12m = filter_dataframe_on_date(ptfua, "fu_12m", START, END)

In [17]:
# f_ptfua_3m
# f_ptfua_6m
# f_ptfua_12m
f_ptfua_3m.shape[0] + f_ptfua_6m.shape[0] + f_ptfua_12m.shape[0]

5

#### Follow-up Beneficiaries Sex and Age Groups

In [ ]:
# f_fua = pd.merge(filtered_fua, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left")
# f_fua[["rid", "fcid", "sex", "age"]]

In [ ]:
# f_fua["sex"].value_counts()

In [ ]:
# categorize_and_count_ages(f_fua["age"])