In [1]:
from src.all_in_one import *
from src.basic_variables import *
from src.analysis_functions import *

2024-10-18 17:45:57,078 - INFO - Processed 711 records so far.
2024-10-18 17:45:57,907 - INFO - Processed 328 records so far.


## Initiate PT Follow-up Assessment Dataset

In [2]:
ptfua_file = path_manager.get_data_file(Category.PT, PTFile.PTFU)
ptfua = get_df(ptfua_file.path, ptfua_file.sheet)
ptfua_dataset = Dataset(config_file, ptfua_file.sheet)
filtered_ptfua = filter_dataframe_on_date(ptfua, ptfua_dataset.dvars, START, END)

In [10]:
filtered_ptfua.shape[0]

80

## Counting PT Follow-up Sessions/Clients

In [4]:
f_ptfua_3m = filter_dataframe_on_date(ptfua, 'fu_3m', START, END)
f_ptfua_6m = filter_dataframe_on_date(ptfua, 'fu_6m', START, END)
f_ptfua_12m = filter_dataframe_on_date(ptfua, 'fu_12m', START, END)

In [9]:
# f_ptfua_3m
# f_ptfua_6m
# f_ptfua_12m
f_ptfua_3m + f_ptfua_6m + f_ptfua_12m

fuasp             110
fuspi             110
rid               110
fcid              110
firstname         110
lastname          110
fu_3m             109
fu_6m              89
fu_12m             28
status            104
closure_reason      0
note               58
dtype: int64

## Follow-up Beneficiaries Sex and Age Groups

In [12]:
f_fua = pd.merge(filtered_fua, rebuilt_scr[['rid', 'sex', 'age']], on='rid', how='left')
f_fua[['rid', 'fcid', 'sex', 'age']]

      rid        fcid     sex  age
0   R0571  8110080004  Female   25
1   R0451  8110090005  Female   30
2   R0460  8110090003  Female   27
3   R0574  8110080007  Female   43
4   R0573  8110080008  Female   41
..    ...         ...     ...  ...
64  R0905  8110050104    Male   44
65  R0326  8110020129  Female   32
66  R1253  8110020132  Female   38
67  R0478  8110080010  Female   31
68  R0869  8110080021  Female   40

[69 rows x 4 columns]

In [13]:
f_fua['sex'].value_counts()

sex
Female    50
Male      19
Name: count, dtype: int64

In [15]:
categorize_and_count_ages(f_fua['age'])

age
18-27     4
28-37    24
38-47    22
48-57    16
58-67     3
68-77     0
Name: count, dtype: int64