In [1]:
from src.all_in_one import *
from src.basic_variables import *
from src.analysis_functions import *

2025-01-09 14:45:39,579 - INFO - Processed 756 records so far.
2025-01-09 14:45:40,527 - INFO - Processed 342 records so far.

## PS Group Counseling

In [2]:
gc_file = path_manager.get_data_file(Category.PS, PSFile.PSG)
gc_dataset = Dataset(config_file, gc_file.sheet)
gc = get_df(gc_file.path, gc_file.sheet)
filtered_gc = filter_dataframe_on_date(gc, gc_dataset.dvars, START, END, FilterType.IN)

In [3]:
# Getting Sex and Age
f_gc_with_demo = pd.merge(
    filtered_gc, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)

In [15]:
# f_gc_with_demo.shape
# f_gc_with_demo

In [ ]:
# female = f_gc_with_demo[f_gc_with_demo['gc_class'] == 'Female(30-40)']
male = f_gc_with_demo[f_gc_with_demo["gc_class"] != "Female(30-40)"]

In [5]:
# Grouping upon dates for sex distribution
f_gc_with_demo_grouped = (
    f_gc_with_demo.groupby(
        [
            "gc_s1",
            # 'gc_10',
            # 'gc_class',
            # 'gc_index',
            "sex",
        ]
    )
    .size()
    .unstack(fill_value=0)
)
f_gc_with_demo_grouped

sex         Female  Male
gc_s1
2024-10-18       0     3
2024-12-10       4     0
2024-12-11       4     0
2024-12-18       0     4

## PS Individual Counseling

In [16]:
ic_file = path_manager.get_data_file(Category.PS, PSFile.PSI)
ic_dataset = Dataset(config_file, ic_file.sheet)
ic = get_df(ic_file.path, ic_file.sheet)
filtered_ic = filter_dataframe_on_date(ic, ic_dataset.dvars, START, END, FilterType.IN)

In [23]:
# ic

In [24]:
# filtered_ic.shape
# filtered_ic

In [18]:
# Getting the total number of sessions in timeframe
(
    (filtered_ic[ic_dataset.dvars] > START) & (filtered_ic[ic_dataset.dvars] < END)
).sum().sum()

np.int64(1)

## PT Group Therapy

In [25]:
gt_file = path_manager.get_data_file(Category.PT, PTFile.PTG)
gt_dataset = Dataset(config_file, gt_file.sheet)
gt = get_df(gt_file.path, gt_file.sheet)
filtered_gt = filter_dataframe_on_date(gt, gt_dataset.dvars, START, END, FilterType.IN)

In [26]:
f_gt_with_demo = pd.merge(
    filtered_gt, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)

In [27]:
f_gt_with_demo

,gptsp,ptgspi,rid,fcid,firstname,lastname,pt_g_class,pt_g_s1,pt_g_s2,pt_g_s3,...,pt_g_s6,pt_g_s7,pt_g_s8,pt_g_s9,pt_g_s10,pt_g_total,pt_status,note,sex,age
0,ZN,12,R1358,8110020136,زياد,الصيني,G14,2024-12-19,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,44
1,ZN,13,R1371,8110020134,علي,الحسين,G14,2024-12-19,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,62
2,ZN,14,R1345,8110020135,احمد,القاسم,G14,2024-12-19,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,31
3,ZN,15,R1452,8110080031,احمد,دعاس,G14,2024-12-19,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,32
4,ZN,16,R0687,8110100021,ايمن,نزال,G14,2024-12-19,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,45
5,ZN,18,R1215,8110110013,عمر,غريبة,G14,NaT,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,42
6,ZN,19,R1337,8110100023,احمد,موس,G14,NaT,2024-12-26,NaT,...,NaT,NaT,NaT,NaT,NaT,0,ACTIVE,NaN,Male,54

In [ ]:
# Grouping upon dates for sex distribution
f_gt_with_demo_grouped = (
    f_gt_with_demo.groupby(
        [
            "pt_g_s1",
            "pt_g_s10",
            # 'gc_class',
            # 'gc_index',
            "sex",
        ]
    )
    .size()
    .unstack(fill_value=0)
)
f_gt_with_demo_grouped

In [29]:
# Getting the total number of sessions in timeframe
(
    (f_gt_with_demo[gt_dataset.dvars] > START)
    & (f_gt_with_demo[gt_dataset.dvars] < END)
).sum().sum()

np.int64(12)

## PT Individual Therapy

In [30]:
it_file = path_manager.get_data_file(Category.PT, PTFile.PTI)
it_dataset = Dataset(config_file, it_file.sheet)
it = get_df(it_file.path, it_file.sheet)
filtered_it = filter_dataframe_on_date(it, it_dataset.dvars, START, END, FilterType.IN)

In [31]:
f_it_with_demo = pd.merge(
    filtered_it, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)

In [33]:
# f_it_with_demo.to_clipboard()
f_it_with_demo

Empty DataFrame
Columns: [iptsp, ptispi, rid, fcid, firstname, lastname, pt_i_s1, pt_i_s2, pt_i_s3, pt_i_s4, pt_i_s5, pt_i_s6, pt_i_s7, pt_i_s8, pt_i_s9, pt_i_s10, pt_i_s11, pt_i_s12, pt_i_s13, pt_i_s14, pt_i_s15, pt_i_s16, pt_i_s17, pt_i_s18, pt_i_s19, pt_i_s20, pt_i_s21, pt_i_s22, pt_i_s23, pt_i_s24, pt_i_total, pt_status, note, sex, age]
Index: []

[0 rows x 35 columns]

In [34]:
# PT individual new clients
((f_it_with_demo["pt_i_s1"] > START) & (f_it_with_demo["pt_i_s1"] < END)).sum().sum()

np.int64(0)

In [35]:
# PT individual new client sex distribution counts
it_new_client = filter_dataframe_on_date(f_it_with_demo, ["pt_i_s1"], START, END)
it_new_client["sex"].value_counts()

Series([], Name: count, dtype: int64)

In [36]:
it_ongoin_client = filter_dataframe_on_date(
    f_it_with_demo, ["pt_i_s1"], START, END, FilterType.BF
)
it_ongoin_client["sex"].value_counts()

Series([], Name: count, dtype: int64)

In [37]:
# Getting the total number of sessions in timeframe
(
    (f_it_with_demo[it_dataset.dvars] > START)
    & (f_it_with_demo[it_dataset.dvars] < END)
).sum().sum()

np.int64(0)

In [38]:
# Getting the total number of sessions in timeframe for male
male = f_it_with_demo[f_it_with_demo["sex"] == "Male"]
((male[it_dataset.dvars] > START) & (male[it_dataset.dvars] < END)).sum().sum()

np.int64(0)

In [39]:
# Getting the total number of sessions in timeframe for female
female = f_it_with_demo[f_it_with_demo["sex"] == "Female"]
((female[it_dataset.dvars] > START) & (female[it_dataset.dvars] < END)).sum().sum()

np.int64(0)