In [1]:
from src.all_in_one import *
from src.basic_variables import *
from src.analysis_functions import *

2025-01-09 16:38:29,316 - INFO - Processed 756 records so far.
2025-01-09 16:38:30,339 - INFO - Processed 342 records so far.

## TRW

In [2]:
trw_file = path_manager.get_data_file(Category.PS, PSFile.TRW)
trw_dataset = Dataset(config_file, trw_file.sheet)
trw = get_df(trw_file.path, trw_file.sheet)
filtered_trw = filter_dataframe_on_date(
    trw, trw_dataset.dvars, START, END, FilterType.IN
)

In [4]:
# trw

In [6]:
# filtered_trw.shape
filtered_trw

,trwsp,trspi,rid,fcid,firstname,lastname,trw_s1,trw_s2,trw_total,fac1,fac2,note
77,LA,1,R1274,<NA>,عوض,الحمد,2024-11-18,2024-11-25,2,NaN,NaN,NaN
78,LA,2,R1237,<NA>,امل,عبدو,2024-11-18,2024-11-25,2,NaN,NaN,NaN
79,LA,3,R0868,<NA>,فاطمة,طالب,2024-11-18,NaT,1,NaN,NaN,NaN
80,LA,4,R1248,<NA>,هنادي,عبدالله,2024-11-18,2024-11-25,2,NaN,NaN,NaN
81,LA,5,R1255,<NA>,عمران,حنكة,2024-11-18,2024-11-25,2,NaN,NaN,NaN
82,LA,6,R1294,<NA>,عبد السلام,محمد,2024-11-18,2024-11-25,2,NaN,NaN,NaN
83,LA,7,R1251,8110020074,سعاد,بكور,2024-11-18,NaT,1,NaN,NaN,NaN

In [7]:
filtered_trw_with_demo = pd.merge(
    filtered_trw, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)

In [8]:
# Grouping upon dates for sex distribution
filtered_trw_with_demo_grouped = (
    filtered_trw_with_demo.groupby(
        [
            "trw_s1",
            # 'trw_s2',
            "sex",
        ]
    )
    .size()
    .unstack(fill_value=0)
)
filtered_trw_with_demo_grouped

sex         Female  Male
trw_s1
2024-11-18       5     2

In [9]:
total_number_of_trw_sessions = (
    filtered_trw["trw_s1"].count() + filtered_trw["trw_s2"].count()
)
total_number_of_trw_sessions

np.int64(12)

# PEI

In [30]:
pei_file = path_manager.get_data_file(Category.PS, PSFile.PEI)
pei_dataset = Dataset(config_file, pei_file.sheet)
pei = get_df(pei_file.path, pei_file.sheet)
filtered_pei = filter_dataframe_on_date(pei, pei_dataset.dvars, START, END)

In [39]:
filtered_pei_new = filter_dataframe_on_date(
    filtered_pei, ["pei_s1", "pei_s2", "pei_s3"], START, END
)
# filtered_pei_new
filtered_pei

,peisp,pespi,rid,fcid,pei_loc,firstname,lastname,pei_s1,pei_s2,pei_s3,pei_total,pei_post_as,note
31,IJ,32,R0343,8110020116,GTZ,سمية,محمد,2024-09-24,2024-09-25,2024-09-26,3,2024-10-15,NaN
32,IJ,33,R0187,8110050030,GTZ,زليخة,الناصر,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
33,IJ,34,R1032,<NA>,GTZ,عائشة,خوالدي,2024-09-24,2024-09-25,2024-09-26,3,2024-10-15,NaN
34,IJ,35,R0911,8110080026,GTZ,لميس,فياض,NaT,2024-09-25,2024-09-26,2,2024-10-15,NaN
35,IJ,36,R1288,<NA>,GTZ,سمر,كويدر,2024-11-19,NaT,2024-11-21,1,2024-12-10,NaN
36,IJ,37,R1248,<NA>,GTZ,هنادي,عبد الله,2024-11-19,2024-11-20,NaT,2,2024-12-11,NaN
37,IJ,38,R0867,<NA>,GTZ,فتحية,عبيسي,2024-11-19,2024-11-20,2024-11-21,3,2024-12-13,NaN
38,IJ,39,R1232,<NA>,GTZ,بشرى,دعاس,2024-11-19,2024-11-20,2024-11-21,3,2024-12-12,NaN
39,IJ,40,R0799,8110080023,GTZ,ندى,خليفة,2024-11-19,2024-11-20,2024-11-21,3,2024-12-13,NaN
40,IJ,41,R0378,8110050066,GTZ,عائشة,الخاطر,2024-12-02,2024-12-03,2024-12-04,3,NaT,NaN
41,IJ,42,R0065,8110060004,GTZ,عروبة,دوارة,2024-12-02,2024-12-03,2024-12-04,3,NaT,NaN
42,IJ,43,R1220,8110110015,GTZ,خزامى,الحجي,2024-12-02,2024-12-03,2024-12-04,3,NaT,NaN
43,IJ,44,R0448,8110050072,GTZ,مريم,محمد,2024-12-02,2024-12-03,2024-12-04,3,2024-12-23,NaN
44,IJ,45,R0390,8110050068,GTZ,هناء,الخطيب,2024-12-02,2024-12-03,2024-12-04,3,2024-12-24,NaN
59,LA,16,R0353,<NA>,GTZ,دلال,الشيخ,2024-09-24,2024-09-25,2024-09-26,3,2024-10-17,NaN
60,LA,17,R0391,<NA>,GTZ,رقية,عبد الله,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
61,LA,18,R1277,<NA>,GTZ,اصالة,محمد,2024-09-24,2024-09-25,2024-09-26,3,2024-10-16,NaN
62,LA,19,R1131,<NA>,GTZ,فاطمة,الفياض,NaT,2024-09-25,2024-09-26,2,2024-10-15,NaN
96,MT,34,R0896,8110020128,GTZ,أحمد,نزال,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
98,MT,36,R0687,<NA>,NaN,أيمن,نزال,2024-09-24,NaT,2024-09-26,2,2024-10-14,NaN
99,MT,37,R1063,<NA>,NaN,عبد المعطي,يونسو,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
100,MT,38,R0155,8110020067,NaN,نابغة,عبد اللطيف,2024-11-19,2024-11-20,2024-11-21,3,2024-12-10,NaN
101,MT,39,R0268,8110020077,NaN,رانيا,نديوي,2024-11-19,2024-11-20,2024-11-21,3,2024-12-10,NaN
102,MT,40,R0348,8110020097,NaN,ناديا,عبد المجيد,2024-11-19,2024-11-20,2024-11-21,3,2024-12-10,NaN
103,MT,41,R0521,8110020114,NaN,سهام,حسين,2024-11-19,2024-11-20,2024-11-21,3,NaT,NaN
104,MT,42,R1260,8110080033,NaN,ناديا,طوشان,2024-11-19,2024-11-20,2024-11-21,3,2024-12-23,NaN
105,MT,43,R0140,8110020070,NaN,مريم,المحمود,NaT,2024-11-20,2024-11-21,2,NaT,NaN
106,MT,44,R1253,8110020132,NaN,صفاء,المحمد,2024-12-02,2024-12-03,2024-12-04,3,NaT,NaN
107,MT,45,R0215,8110020080,NaN,أميرة,ريحاوي,2024-12-02,2024-12-03,2024-12-04,3,2024-12-27,NaN
108,MT,46,R0300,8110020093,NaN,مروة,التريس,2024-12-02,NaT,2024-12-04,2,NaT,NaN
109,MT,47,R0400,8110050037,NaN,فاطمة,عابد,2024-12-02,2024-12-03,NaT,2,2024-12-24,NaN
110,MT,48,R0459,8110080003,NaN,فاطمة,ديوك,2024-12-02,2024-12-03,2024-12-04,3,NaT,NaN
111,MT,49,R0458,8110050076,NaN,مروة,عشموطي,2024-12-02,2024-12-03,2024-12-04,3,NaT,NaN
161,YQ,34,R0333,8110020107,GTZ,راميا,مراد,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
162,YQ,35,R0501,8110020120,GTZ,راميا,مشلح,2024-09-24,2024-09-25,2024-09-26,3,2024-10-15,NaN
163,YQ,36,R0402,8110020119,GTZ,عبير,عزو,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
164,YQ,37,R0497,8110020115,GTZ,هلا,الحلبي,2024-09-24,2024-09-25,2024-09-26,3,2024-10-14,NaN
165,YQ,38,R0868,<NA>,GTZ,فاطمة,طالب,NaT,2024-09-25,2024-09-26,2,2024-10-15,NaN

In [38]:
f_pei_with_demo = pd.merge(
    filtered_pei, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)
# f_pei_with_demo["sex"].value_counts()

In [33]:
# f_pei = filter_dataframe_on_date(
#     f_pei_with_demo, ["pei_s1", "pei_s2", "pei_s3"], START, END, FilterType.IN
# )
# # f_pei
# date1 = "2024-12-02"
# date2 = "2024-12-03"
# date3 = "2024-12-04"
# one_pei = f_pei[
#     (f_pei["pei_s1"] == date1) | (f_pei["pei_s2"] == date2) | (f_pei["pei_s3"] == date3)
# ]
# one_pei

In [18]:
# filtered_pei

In [34]:
# filtered_pei.shape

In [13]:
f_pei_with_demo = pd.merge(
    filtered_pei, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)
f_pei_with_demo["sex"].value_counts()

sex
Female    35
Male       3
Name: count, dtype: int64

In [21]:
# f_pei_with_demo.to_clipboard()

In [35]:
# Counting PEI Post Assessment
pei_post_assessment = filter_dataframe_on_date(pei, "pei_post_as", START, END)
pei_post_assessment_with_demo = pd.merge(
    pei_post_assessment, rebuilt_scr[["rid", "sex", "age"]], on="rid", how="left"
)
pei_post_assessment_with_demo.shape

(29, 15)

In [36]:
pei_post_assessment_with_demo["sex"].value_counts()

sex
Female    26
Male       3
Name: count, dtype: int64

## Awareness Workshops

In [27]:
aww_file = path_manager.get_data_file(Category.PS, PSFile.AWW)
aww_dataset = Dataset(config_file, aww_file.sheet)
aww = get_df(aww_file.path, aww_file.sheet)
filtered_aww = filter_dataframe_on_date(aww, aww_dataset.dvars, START, END)

In [29]:
filtered_aww.shape
filtered_aww

Empty DataFrame
Columns: [awsp, awspi, rid, fcid, firstname, lastname, sex, age, aws_loc, aws_ci, aws, note]
Index: []