In [1]:
import pandas as pd
from src.all_in_one import *
from src.analysis_functions import *

In [2]:
# Intake
path = os.path.join(processed_data, 'int_1223.csv')
intake_sheet = 'Int'
df_dataset = Dataset(config_file, intake_sheet)
intake = pd.read_csv(path)
intake = dtype_trans(intake, df_dataset)
threshold = '2023-09-30'

In [3]:
# Screening
scr_path = os.path.join(processed_data, 'scr_1223.csv')
screening_sheet = 'Scr'
scr_dataset = Dataset(config_file, screening_sheet)
scr = pd.read_csv(scr_path)
scr = dtype_trans(scr, scr_dataset)
unique_scr = scr.drop_duplicates(subset='rid')

In [4]:
intake = pd.merge(intake, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [6]:
id = 'R0571'

In [7]:
intake[intake['rid'] == id]

,intsp,ntspi,rid,fcid,firstname,lastname,nt_s1,nt_s2,nt_s3,nt_re,...,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,note,sex,age
3,IJ,4,R0571,8110080004,سميحة,نجمة,2022-12-15,2022-12-22,2022-12-27,NaT,...,No,No,No,Yes,No,No,No,NaN,Female,25

In [ ]:
int_q4 = filter_df_by_date(intake, df_dataset.dvars, threshold)
int_q4

In [ ]:
new_intake = filter_df_by_date(int_q4, ['nt_s1'], threshold)
new_intake

In [ ]:
new_intake['sex'].value_counts()

In [ ]:
reintake = filter_df_by_date(int_q4, ['nt_re'], threshold)
reintake

In [ ]:
# categorize_age(new_intake)

In [ ]:
# categorize_and_count_ages(new_intake['age'])

In [ ]:
# normalized_value_counts(int_q4['family_of_missing'])

In [ ]:
# normalized_value_counts(int_q4['survivor_of_detention'])

In [ ]:
# normalized_value_counts(int_q4['primary_torture'])

In [ ]:
# normalized_value_counts(int_q4['secondary_torture'])

In [ ]:
# normalized_value_counts(int_q4['sexual_violation_a'])

In [ ]:
# normalized_value_counts(int_q4['sexual_violation_p'])

In [ ]:
# normalized_value_counts(int_q4['hrd'])

In [ ]:
# normalized_value_counts(int_q4['journalist'])

In [ ]:
# normalized_value_counts(int_q4['wov'])

In [ ]:
# normalized_value_counts(int_q4['stgbv'])

In [ ]:
# normalized_value_counts(int_q4['lgbti'])

In [ ]:
# normalized_value_counts(int_q4['other'])

In [ ]:
# new_intake['intsp'].value_counts()

In [ ]:
reintake['intsp'].value_counts()

In [ ]:
reintake['sex'].value_counts()