In [1]:
import pandas as pd
from src.all_in_one import *
from src.analysis_functions import *

In [2]:
# Screening
scr_path = os.path.join(processed_data, 'scr_1223.csv')
screening_sheet = 'Scr'
scr_dataset = Dataset(config_file, screening_sheet)
scr = pd.read_csv(scr_path)
scr = dtype_trans(scr, scr_dataset)
unique_scr = scr.drop_duplicates(subset='rid')

In [3]:
path = os.path.join(processed_data, 'psfua_1223.csv')
fua_sheet = 'FUA'
df_dataset = Dataset(config_file, fua_sheet)
psfua = pd.read_csv(path)
psfua = dtype_trans(psfua, df_dataset)
psfua = pd.merge(psfua, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')
threshold = '2023-09-30'

In [4]:
psfua

,fuasp,fuspi,rid,fcid,firstname,lastname,fu_3m,fu_6m,fu_12m,status,closure_reason,note,sex,age
0,IJ,1,R0441,8110050063,فاطمة,حسن الأحمد,2023-04-10,2023-07-14,NaT,Active,NaN,NaN,Female,43
1,IJ,2,R0391,8110050067,رقية,عبد الله,2023-04-13,2023-07-13,NaT,Active,NaN,NaN,Female,44
2,IJ,3,R0501,8110020120,راميا,مشلح,2023-04-06,2023-07-17,NaT,Active,NaN,NaN,Female,41
3,IJ,4,R0367,8110020110,أمينة,صباحي,2023-04-10,2023-07-20,NaT,Active,NaN,NaN,Female,40
4,IJ,5,R0348,8110020097,نادية,عبد المجيد,2023-04-11,2023-07-21,NaT,Active,NaN,NaN,Female,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,YQ,90,R0486,8110020103,زكريا,هدلة,2023-09-28,NaT,NaT,Active,NaN,NaN,Female,55
177,YQ,91,R0485,8110020104,أحمد,الصيني,2023-09-28,NaT,NaT,Active,NaN,NaN,Male,44
178,YQ,92,R0298,8110020089,يسرى,الحويل,2023-09-26,NaT,NaT,Active,NaN,NaN,Female,36
179,YQ,93,R0540,8110050091,غزالة,السقا,2023-09-26,NaT,NaT,Active,NaN,NaN,Female,46
180,YQ,94,R0290,8110020085,أسماء,العيسى,2023-09-27,NaT,NaT,Active,NaN,NaN,Female,34

In [5]:
psfua_q4 = filter_df_by_date(psfua, df_dataset.dvars, threshold)
psfua_q4

,fuasp,fuspi,rid,fcid,firstname,lastname,fu_3m,fu_6m,fu_12m,status,closure_reason,note,sex,age
11,IJ,12,R0573,8110080008,حسناء,بصمجي,2023-10-02,NaT,NaT,Active,NaN,NaN,Female,41
74,SA,54,R0487,8110080005,رياض,أسعد,2023-10-03,NaT,NaT,Active,NaN,NaN,Male,59
77,SA,57,R0473,8110050083,منال,محمد,2023-10-04,NaT,NaT,Active,NaN,NaN,Female,23
85,SA,65,R0592,8110050096,مهند,صعب,2023-08-25,2023-12-15,NaT,Active,NaN,NaN,Male,30
175,YQ,89,R0183,8110020101,رفيق,خنوس,2023-12-08,NaT,NaT,Active,NaN,NaN,Male,48

In [ ]:
df_dataset.dvars