In [1]:
import pandas as pd
from src.all_in_one import *
from src.analysis_functions import *

In [2]:
path = os.path.join(processed_data, 'scr_1223.csv')
sheet_name = 'Scr'
df_dataset = Dataset(config_file, sheet_name)
scr = pd.read_csv(path)
scr = dtype_trans(scr, df_dataset)

In [3]:
threshold = '2023-09-30'

In [4]:
scr_q4 = filter_df_by_date(scr, df_dataset.dvars, threshold, comparison_type='a')

In [5]:
scr_q4

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,...,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note,scloc
0,IJ,67,R1010,احمد,الخالدي,Male,53,Syrian,SF,2023-10-19,...,NaT,IRM,NA_,Yes,No,No,Yes,Yes,NaN,NaN
1,IJ,64,R0999,امينة,الحسين,Female,39,Syrian,SF,2023-10-18,...,NaT,IRM,NA_,Yes,No,No,No,Yes,NaN,NaN
2,IJ,22,R0511,انتصار,الاسعد,Female,47,Syrian,GZT,2022-05-27,...,NaT,Family_or_Friend,NA_,Yes,No,No,No,Yes,intake-Y,GZT
10,IJ,69,R0702,حسن,الخلف,Male,38,Syrian,SF,2023-10-26,...,NaT,IRM,NA_,Yes,No,No,Yes,Yes,NaN,NaN
27,IJ,62,R0343,سمية,محمد,Female,43,Syrian,GZT,NaT,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,Yes,NaN,GZT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,YQ,178,R1035,سمر,عبيد,Female,56,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN
659,YQ,179,R1034,خالد,زيتون,Male,52,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,No,No,تحويل لجلسة توعية,NaN
660,YQ,180,R1033,فادية,زيدان,Female,47,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN
661,YQ,181,R1022,محمد,منذر عتقي,Male,34,Syrian,GZT,2023-11-08,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,No,NaN,GZT
662,YQ,182,R1107,عبد القادر,الراغب,Male,34,Syrian,Rey,2023-11-08,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN

In [8]:
(scr_q4['need_pei'] == 'Yes').sum()

95

In [ ]:
scr_new = filter_df_by_date(scr, ['sc_s1'], threshold, comparison_type='a')

In [ ]:
scr_new

In [ ]:
scr_new['sex'].value_counts()

In [ ]:
age_group = categorize_and_count_ages(scr_new['age'])

In [ ]:
normalized_value_counts(age_group)

In [ ]:
scr_new['source'].value_counts()

In [ ]:
scr_q4['need_pei'].value_counts()