In [1]:
import pandas as pd
from src.all_in_one import *
from src.analysis_functions import *

In [2]:
scr_path = os.path.join(processed_data, '00_psscr_0124.csv')
scr_sheet = 'Scr'
scr_dataset = Dataset(config_file, scr_sheet)
scr = pd.read_csv(scr_path)
scr = dtype_trans(scr, scr_dataset)
# threshold = '2023-09-30'

In [3]:
scr

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,pei_pre_as,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note
0,IJ,67,R1010,احمد,الخالدي,Male,53,Syrian,SF,2023-10-19,NaT,NaT,IRM,NaN,Yes,No,No,Yes,Yes,NaN
1,IJ,64,R0999,امينة,الحسين,Female,39,Syrian,SF,2023-10-18,NaT,NaT,IRM,NaN,Yes,No,No,No,Yes,NaN
2,IJ,22,R0511,انتصار,الاسعد,Female,47,Syrian,GTZ,2022-05-27,2023-10-09,NaT,Family member or friend,NaN,Yes,No,No,No,Yes,intake-Y
3,IJ,30,R0587,ايمان,العلي,Female,35,Syrian,GTZ,2022-12-22,NaT,NaT,ADMSP beneficiary (current or former),NaN,Yes,No,No,No,No,intake
4,IJ,36,R0731,إبراهيم,عباس,Male,33,Syrian,GTZ,2023-05-22,NaT,NaT,IRM,NaN,No,Yes,No,Yes,No,TRW-IRM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,YQ,178,R1035,سمر,عبيد,Female,56,Syrian,Rey,2023-10-26,NaT,NaT,IRM,NaN,No,No,No,Yes,Yes,NaN
680,YQ,179,R1034,خالد,زيتون,Male,52,Syrian,Rey,2023-10-26,NaT,NaT,IRM,NaN,No,No,No,No,No,تحويل لجلسة توعية
681,YQ,180,R1033,فادية,زيدان,Female,47,Syrian,Rey,2023-10-26,NaT,NaT,IRM,NaN,No,No,No,Yes,Yes,NaN
682,YQ,181,R1022,محمد,منذر عتقي,Male,34,Syrian,GTZ,2023-11-08,NaT,NaT,ADMSP member,NaN,Yes,No,No,No,No,NaN
683,YQ,182,R1107,عبد القادر,الراغب,Male,34,Syrian,Rey,2023-11-08,NaT,NaT,IRM,NaN,No,No,No,Yes,Yes,NaN

In [4]:
path = os.path.join(processed_data, '01_psint_0124.csv')
intake_sheet = 'Int'
intake_dataset = Dataset(config_file, intake_sheet)
intake = pd.read_csv(path)
intake = dtype_trans(intake, intake_dataset)

In [5]:
intake

,intsp,ntspi,rid,fcid,firstname,lastname,nt_s1,nt_s2,nt_s3,nt_re,...,secondary_torture,sexual_violation_a,sexual_violation_p,hrd,journalist,wov,stgbv,lgbti,other,note
0,IJ,1,R0450,8110080001,آية,فاضل,2022-08-25,2022-08-31,2022-09-15,NaT,...,Yes,No,No,No,No,Yes,Yes,No,No,الملف مغلق
1,IJ,2,R0481,8110080002,حميدة,مصطفى,2022-08-26,2022-08-29,NaT,2023-11-01,...,Yes,No,No,No,No,Yes,No,No,Yes,اتجار بالاعضاء
2,IJ,3,R0459,8110080003,فاطمة,ديوك,2022-09-01,2022-09-06,2022-09-09,2023-10-17,...,Yes,No,No,No,No,Yes,No,No,No,NaN
3,IJ,4,R0571,8110080004,سميحة,نجمة,2022-12-15,2022-12-22,2022-12-27,NaT,...,No,No,No,No,No,Yes,No,No,No,NaN
4,IJ,5,R0487,8110080005,رياض,الأسعد,2022-12-15,2022-12-19,NaT,NaT,...,No,No,No,No,No,Yes,No,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,YQ,123,R0078,8110040006,جميلة,حويلي,2021-08-02,2021-08-09,NaT,NaT,...,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No,تقييم قامت باجرائه سلطانة
287,YQ,124,R0071,8110040005,صباح,حمادة,2021-06-25,2021-07-02,NaT,NaT,...,Yes,NaN,NaN,NaN,NaN,Yes,No,No,No,تقييم قامت باجرائه سلطانة
288,YQ,125,R0070,8110040004,هيفاء,العبد الله,2021-06-21,2021-07-05,NaT,NaT,...,Yes,NaN,NaN,NaN,NaN,Yes,Yes,No,No,تقييم قامت باجرائه سلطانة
289,YQ,126,R0694,8110020126,باسل,حج حسين,2023-09-19,2023-10-03,2023-10-13,NaT,...,Yes,No,No,No,No,Yes,No,No,No,NaN
290,YQ,127,R0874,8110020127,هويدا,الرجب أغا,2023-10-06,2023-10-13,NaT,NaT,...,Yes,No,Yes,No,No,Yes,Yes,No,No,NaN

In [ ]:
irm = scr[['rid', 'source']]
irm = irm[irm['source'] == 'IRM']
irm

In [ ]:
data = pd.merge(irm, intake[['rid', 'fcid']], on='rid', how='left')

In [ ]:
dataintake = data[data['fcid']]

In [ ]:
rid = 'R1070'
scr[scr['rid'] == rid]

In [ ]:
scr.insert(10, 'dup', 0)
scr['dup'] = scr.duplicated(subset=['rid'], keep=False)
scr['dup'] = scr['dup'].replace({True: 1, False: 0})
# scr

In [ ]:
scr_q4 = filter_df_by_date(scr, df_dataset.dvars, threshold)
scr_q4
# scr_q4_to_excel = scr_q4.drop(['firstname', 'lastname'], axis=1)
# scr_q4_to_excel.to_excel("screening_quarter4_2023.xlsx")

In [ ]:
new_clients = filter_df_by_date(scr_q4, ['sc_s1'], threshold)
new_clients

In [ ]:
need_service = 'need_tmh'
scr_q4[need_service].value_counts()

In [ ]:
new_clients['need_pei'].value_counts()

In [ ]:
(scr_q4['need_pei'] == 'Yes').sum()

In [ ]:
new_clients['sex'].value_counts()

In [ ]:
new_clients['scrsp'].value_counts()

In [ ]:
new_clients['sex'].value_counts()

In [ ]:
age_group = categorize_and_count_ages(new_clients['age'])
normalized_value_counts(age_group)

In [ ]:
new_clients['source'].value_counts()

In [ ]:
scr_q4['need_pei'].value_counts()