In [22]:
import pandas as pd
from src.all_in_one import *
from src.analysis_functions import *

In [23]:
path = os.path.join(processed_data, 'scr_1223.csv')
sheet_name = 'Scr'
df_dataset = Dataset(config_file, sheet_name)
scr = pd.read_csv(path)
scr = dtype_trans(scr, df_dataset)

In [24]:
threshold = '2023-09-30'

In [27]:
# scr.insert(10, 'dup', 0)
# scr['dup'] = scr.duplicated(subset=['rid'], keep=False)
scr['dup'] = scr['dup'].replace({True: 1, False: 0})
scr

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,...,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note,scloc
0,IJ,67,R1010,احمد,الخالدي,Male,53,Syrian,SF,2023-10-19,...,NaT,IRM,NA_,Yes,No,No,Yes,Yes,NaN,NaN
1,IJ,64,R0999,امينة,الحسين,Female,39,Syrian,SF,2023-10-18,...,NaT,IRM,NA_,Yes,No,No,No,Yes,NaN,NaN
2,IJ,22,R0511,انتصار,الاسعد,Female,47,Syrian,GZT,2022-05-27,...,NaT,Family_or_Friend,NA_,Yes,No,No,No,Yes,intake-Y,GZT
3,IJ,30,R0587,ايمان,العلي,Female,35,Syrian,GZT,2022-12-22,...,NaT,ADMSP_Beneficiary,NA_,Yes,No,No,No,No,intake,GZT
4,IJ,36,R0731,إبراهيم,عباس,Male,33,Syrian,GZT,2023-05-22,...,NaT,IRM,NA_,No,Yes,No,Yes,No,TRW-IRM,GZT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,YQ,178,R1035,سمر,عبيد,Female,56,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN
659,YQ,179,R1034,خالد,زيتون,Male,52,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,No,No,تحويل لجلسة توعية,NaN
660,YQ,180,R1033,فادية,زيدان,Female,47,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN
661,YQ,181,R1022,محمد,منذر عتقي,Male,34,Syrian,GZT,2023-11-08,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,No,NaN,GZT
662,YQ,182,R1107,عبد القادر,الراغب,Male,34,Syrian,Rey,2023-11-08,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN

In [28]:
scr_q4 = filter_df_by_date(scr, df_dataset.dvars, threshold)

In [29]:
scr_q4

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,...,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note,scloc
0,IJ,67,R1010,احمد,الخالدي,Male,53,Syrian,SF,2023-10-19,...,NaT,IRM,NA_,Yes,No,No,Yes,Yes,NaN,NaN
1,IJ,64,R0999,امينة,الحسين,Female,39,Syrian,SF,2023-10-18,...,NaT,IRM,NA_,Yes,No,No,No,Yes,NaN,NaN
2,IJ,22,R0511,انتصار,الاسعد,Female,47,Syrian,GZT,2022-05-27,...,NaT,Family_or_Friend,NA_,Yes,No,No,No,Yes,intake-Y,GZT
10,IJ,69,R0702,حسن,الخلف,Male,38,Syrian,SF,2023-10-26,...,NaT,IRM,NA_,Yes,No,No,Yes,Yes,NaN,NaN
27,IJ,62,R0343,سمية,محمد,Female,43,Syrian,GZT,NaT,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,Yes,NaN,GZT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,YQ,178,R1035,سمر,عبيد,Female,56,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN
659,YQ,179,R1034,خالد,زيتون,Male,52,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,No,No,تحويل لجلسة توعية,NaN
660,YQ,180,R1033,فادية,زيدان,Female,47,Syrian,Rey,2023-10-26,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN
661,YQ,181,R1022,محمد,منذر عتقي,Male,34,Syrian,GZT,2023-11-08,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,No,NaN,GZT
662,YQ,182,R1107,عبد القادر,الراغب,Male,34,Syrian,Rey,2023-11-08,...,NaT,IRM,NA_,No,No,No,Yes,Yes,NaN,NaN

In [8]:
(scr_q4['need_pei'] == 'Yes').sum()

95

In [33]:
scr_new = filter_df_by_date(scr, ['pei_pre_as'], threshold, comparison_type='a')
scr_new

,scrsp,scspi,rid,firstname,lastname,sex,age,nat,sc_loc,sc_s1,...,sc_re,source,source_org,need_mhpss,need_trw,need_out_ref,need_tmh,need_pei,note,scloc
2,IJ,22,R0511,انتصار,الاسعد,Female,47,Syrian,GZT,2022-05-27,...,NaT,Family_or_Friend,NA_,Yes,No,No,No,Yes,intake-Y,GZT
27,IJ,62,R0343,سمية,محمد,Female,43,Syrian,GZT,NaT,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,Yes,NaN,GZT
167,LA,42,R0314,رقية,الحسين,Female,41,Syrian,GZT,NaT,...,NaT,ADMSP_Beneficiary,NA_,Yes,No,No,No,Yes,NaN,GZT
168,LA,43,R0267,ندى,خالد,Female,48,Syrian,GZT,NaT,...,NaT,ADMSP_Beneficiary,NA_,Yes,No,No,No,Yes,NaN,GZT
253,MT,47,R0626,عزيزة,هنداوي,Female,34,Syrian,GZT,NaT,...,NaT,ADMSP_Beneficiary,NA_,No,No,No,No,Yes,NaN,GZT
254,MT,48,R0631,ليلى,شاهين,Female,44,Syrian,GZT,NaT,...,NaT,ADMSP_Beneficiary,NA_,No,No,No,No,Yes,NaN,GZT
318,SA,32,R0187,زليخة,الناصر,Female,40,Syrian,NaN,2022-01-04,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,Yes,تم تحويلها للخدمات المتخصصة - الجلسة الثانية للسكريننغ كانت لتقييم الزلزال,NaN
456,SA,171,R1021,زياد,محمد,Male,39,Syrian,GZT,2023-10-23,...,NaT,ADMSP_Member,NA_,Yes,No,No,No,Yes,NaN,GZT
457,SA,172,R1024,نظيرة,محمد,Female,30,Syrian,GZT,2023-10-24,...,NaT,ADMSP_Beneficiary,NA_,Yes,No,No,No,Yes,NaN,GZT
505,YQ,25,R0185,محمد,رمضان,Male,35,Syrian,NaN,2021-12-22,...,NaT,Outreach_Session,NaN,Yes,No,No,No,Yes,NaN,NaN
507,YQ,27,R0118,فاطمة,علي سليمان,Female,43,Syrian,NaN,2021-11-25,...,NaT,Outreach_Session,NaN,Yes,No,No,No,Yes,NaN,NaN
587,YQ,107,R0294,ريمة,طالب,Female,46,Syrian,NaN,2022-05-27,...,NaT,ADMSP_Beneficiary,NA_,Yes,No,No,No,Yes,NaN,NaN
653,YQ,173,R0801,كاتنة,إسماعيل,Female,42,Syrian,GZT,2023-09-01,...,NaT,ADMSP_Beneficiary,NA_,Yes,No,No,No,Yes,ستذهب الى سامز و بعدها سيتم اجراء تقييم نفسي و كذلك تقييم زلزال,GZT

In [34]:
scr_new['scrsp'].value_counts()

scrsp
YQ    4
SA    3
IJ    2
LA    2
MT    2
Name: count, dtype: int64

In [ ]:
scr_new['sex'].value_counts()

In [ ]:
age_group = categorize_and_count_ages(scr_new['age'])

In [ ]:
normalized_value_counts(age_group)

In [ ]:
scr_new['source'].value_counts()

In [ ]:
scr_q4['need_pei'].value_counts()