In [1]:
from src.all_in_one import *

In [2]:
threshold = '2024-01-31'
_threshold = '2024-05-01'

In [3]:
# Screening
scr = get_df(scr_path, scr_sheet)
unique_scr = scr.drop_duplicates(subset='rid')

In [4]:
td_dataset = Dataset(config_file, td_sheet)
td = get_df(td_path, td_sheet)
td = pd.merge(td, unique_scr[['rid', 'sex', 'age']], on='rid', how='left')

In [5]:
td_dataset.dvars

['consult', 'consent', 'interview_s1', 'interview_s2', 'interview_s3']

In [6]:
sub_td = filter_dataframe_on_date(td, td_dataset.dvars, date1='2024-01-01', filter_type=FilterType.AF)

In [7]:
td

,tdsp,tdspi,rid,fcid,firstname,lastname,consult,consent,legal_doc,individual_use,cws,communicat_use,advocacy,interview_s1,interview_s2,interview_s3,interview_total,note,sex,age
0,IJ,1,R0402,8110020119,عبير,عزو,2023-07-24,2023-07-24,No,Yes,Yes,Yes,Yes,2023-07-08,2023-08-18,2023-09-15,3,حضرة ورشة التوثيق الابداعي,Female,43
1,IJ,2,R0314,8110020091,رقية,الحسين,2023-07-31,2023-07-31,No,Yes,Yes,Yes,No,2023-09-07,2023-09-15,NaT,2,حضرة ورشة التوثيق الابداعي,Female,41
2,IJ,3,R0359,8110050048,رنا,العيسى,2023-09-07,2023-09-12,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي - حضرت ورشة المناصر,Female,39
3,IJ,4,R0215,8110020080,اميرة,ريحاوي,2023-09-07,2023-09-11,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي - حضرت ورشة المناصر,Female,40
4,IJ,5,R0100,8110050077,اميرة,بكران,2023-10-06,2023-10-06,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي,Female,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,YQ,23,R0415,8110020102,قيس,أبو نقطة,2023-05-11,2023-05-11,Yes,Yes,No,Yes,Yes,NaT,NaT,NaT,0,NaN,Male,25
97,YQ,24,R0452,8110050080,مها,شواف,2023-08-23,2023-08-23,Yes,Yes,Yes,No,No,NaT,NaT,NaT,0,NaN,Female,40
98,YQ,25,R0534,8110050087,دلال,الجادر,2023-08-24,2023-08-24,Yes,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN,Female,37
99,YQ,26,R0378,8110050066,عائشة,الخاطر,2023-08-25,2023-08-25,Yes,No,Yes,No,No,NaT,NaT,NaT,0,توثيق sjac,Female,38
100,YQ,27,R0460,8110090003,سهى,الحسن,2023-10-04,2023-10-04,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN,Female,27

In [8]:
cws = get_df(cws_path, cws_sheet)
cws

,cwssp,cwspi,rid,fcid,firstname,lastname,cws_s1,cws_s2,cws_total,note
0,LA,1,R0393,8110050086,زهراء,علوش,2023-09-20,2023-09-21,2,NaN
1,LA,2,R0497,8110020115,هلا,الحلبي,2023-09-20,2023-09-21,2,NaN
2,LA,3,R0367,8110020110,امينة,صباهي,2023-09-20,2023-09-21,2,NaN
3,LA,4,R0391,8110050067,رقية,العبد لله,2023-09-20,2023-09-21,2,NaN
4,LA,5,R0359,8110050048,رنا,العيسى,2023-09-20,2023-09-21,2,NaN
...,...,...,...,...,...,...,...,...,...,...
76,YQ,33,R0591,8110050092,نور,العلبي,NaT,2023-11-16,1,NaN
77,YQ,34,R0183,8110020101,رفيق,خنوس,2024-04-24,2024-04-25,2,NaN
78,YQ,35,R0486,8110010103,زكريا,هدلة,2024-04-24,2024-04-25,2,NaN
79,YQ,36,R0337,8110020100,أيمن,دعاس,2024-04-24,2024-04-25,2,NaN
80,YQ,37,R0120,8110020106,رعد,دندل,2024-04-24,2024-04-25,2,NaN

In [9]:
cws[['cwssp', 'rid', 'fcid', 'cws_s1', 'cws_s2', 'cws_total']]

   cwssp    rid        fcid     cws_s1     cws_s2  cws_total
0     LA  R0393  8110050086 2023-09-20 2023-09-21          2
1     LA  R0497  8110020115 2023-09-20 2023-09-21          2
2     LA  R0367  8110020110 2023-09-20 2023-09-21          2
3     LA  R0391  8110050067 2023-09-20 2023-09-21          2
4     LA  R0359  8110050048 2023-09-20 2023-09-21          2
..   ...    ...         ...        ...        ...        ...
76    YQ  R0591  8110050092        NaT 2023-11-16          1
77    YQ  R0183  8110020101 2024-04-24 2024-04-25          2
78    YQ  R0486  8110010103 2024-04-24 2024-04-25          2
79    YQ  R0337  8110020100 2024-04-24 2024-04-25          2
80    YQ  R0120  8110020106 2024-04-24 2024-04-25          2

[81 rows x 6 columns]