In [1]:
from src.all_in_one import *

In [2]:
td = get_df(td_path, td_sheet)

In [3]:
td

,tdsp,tdspi,rid,fcid,firstname,lastname,consult,consent,legal_doc,individual_use,cws,communicat_use,advocacy,interview_s1,interview_s2,interview_s3,interview_total,note
0,IJ,1,R0402,8110020119,عبير,عزو,2023-07-24,2023-07-24,No,Yes,Yes,Yes,Yes,2023-07-08,2023-08-18,2023-09-15,3,حضرة ورشة التوثيق الابداعي
1,IJ,2,R0314,8110020091,رقية,الحسين,2023-07-31,2023-07-31,No,Yes,Yes,Yes,No,2023-09-07,2023-09-15,NaT,2,حضرة ورشة التوثيق الابداعي
2,IJ,3,R0359,8110050048,رنا,العيسى,2023-09-07,2023-09-12,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي
3,IJ,4,R0215,8110020080,اميرة,ريحاوي,2023-09-07,2023-09-11,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي
4,IJ,5,R0100,8110050077,اميرة,بكران,2023-10-06,2023-10-06,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,YQ,23,R0415,8110020102,قيس,أبو نقطة,2023-05-11,2023-05-11,Yes,Yes,No,Yes,Yes,NaT,NaT,NaT,0,NaN
88,YQ,24,R0452,8110050080,مها,شواف,2023-08-23,2023-08-23,Yes,Yes,Yes,No,No,NaT,NaT,NaT,0,NaN
89,YQ,25,R0534,8110050087,دلال,الجادر,2023-08-24,2023-08-24,Yes,Yes,Yes,Yes,No,NaT,NaT,NaT,0,NaN
90,YQ,26,R0378,8110050066,عائشة,الخاطر,2023-08-25,2023-08-25,Yes,No,Yes,No,No,NaT,NaT,NaT,0,توثيق sjac
91,YQ,27,R0460,8110090003,سهى,الحسن,2023-10-04,2023-10-04,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN

In [4]:
tdb = td.drop(columns=['firstname', 'lastname'])
tdb

,tdsp,tdspi,rid,fcid,consult,consent,legal_doc,individual_use,cws,communicat_use,advocacy,interview_s1,interview_s2,interview_s3,interview_total,note
0,IJ,1,R0402,8110020119,2023-07-24,2023-07-24,No,Yes,Yes,Yes,Yes,2023-07-08,2023-08-18,2023-09-15,3,حضرة ورشة التوثيق الابداعي
1,IJ,2,R0314,8110020091,2023-07-31,2023-07-31,No,Yes,Yes,Yes,No,2023-09-07,2023-09-15,NaT,2,حضرة ورشة التوثيق الابداعي
2,IJ,3,R0359,8110050048,2023-09-07,2023-09-12,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي
3,IJ,4,R0215,8110020080,2023-09-07,2023-09-11,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي
4,IJ,5,R0100,8110050077,2023-10-06,2023-10-06,No,Yes,Yes,Yes,No,NaT,NaT,NaT,0,حضرة ورشة التوثيق الابداعي
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,YQ,23,R0415,8110020102,2023-05-11,2023-05-11,Yes,Yes,No,Yes,Yes,NaT,NaT,NaT,0,NaN
88,YQ,24,R0452,8110050080,2023-08-23,2023-08-23,Yes,Yes,Yes,No,No,NaT,NaT,NaT,0,NaN
89,YQ,25,R0534,8110050087,2023-08-24,2023-08-24,Yes,Yes,Yes,Yes,No,NaT,NaT,NaT,0,NaN
90,YQ,26,R0378,8110050066,2023-08-25,2023-08-25,Yes,No,Yes,No,No,NaT,NaT,NaT,0,توثيق sjac
91,YQ,27,R0460,8110090003,2023-10-04,2023-10-04,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN

In [5]:
filter_df_by_date(tdb, ['consult', 'consent', 'interview_s1', 'interview_s2', 'interview_s3'], '2023-11-09', comparison_type='a')

,tdsp,tdspi,rid,fcid,consult,consent,legal_doc,individual_use,cws,communicat_use,advocacy,interview_s1,interview_s2,interview_s3,interview_total,note
5,IJ,6,R0268,8110020077,2024-02-02,2024-02-02,No,No,Yes,No,No,NaT,NaT,NaT,0,NaN
6,IJ,7,R0246,8110020084,2024-02-02,2024-02-02,Yes,Yes,Yes,Yes,No,NaT,NaT,NaT,0,NaN
7,IJ,8,R0224,8110050039,2024-02-02,2024-02-02,Yes,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN
18,LA,11,R0486,8110020103,2024-01-08,2024-01-08,Yes,Yes,No,Yes,Yes,NaT,NaT,NaT,0,NaN
19,LA,12,R0487,8110080005,2024-01-22,2024-01-22,Yes,Yes,No,Yes,Yes,NaT,NaT,NaT,0,NaN
34,MT,15,R0298,8110020089,2023-11-10,2023-11-10,Yes,Yes,Yes,No,Yes,NaT,NaT,NaT,0,NaN
35,MT,16,R0592,8110050096,2024-01-08,2024-01-08,Yes,Yes,No,Yes,Yes,NaT,NaT,NaT,0,NaN
36,MT,17,R0126,8110020064,2024-01-15,2024-01-15,No,No,Yes,No,Yes,NaT,NaT,NaT,0,NaN
37,MT,18,R0485,8110020108,2024-01-15,2024-01-15,Yes,No,Yes,No,Yes,NaT,NaT,NaT,0,NaN
38,MT,19,R0107,8110050017,2024-01-16,2024-01-16,No,No,Yes,No,Yes,NaT,NaT,NaT,0,NaN
62,SA,23,R0574,8110080007,2023-11-10,2023-11-10,Yes,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN
63,SA,24,R0573,8110080008,2023-11-10,2023-11-10,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN
64,SA,25,R0353,8110020099,2023-11-10,2023-11-10,No,Yes,Yes,Yes,Yes,NaT,NaT,NaT,0,NaN

In [6]:
cws = get_df(cws_path, cws_sheet)
cws

,cwssp,cwspi,rid,fcid,firstname,lastname,cws_s1,cws_s2,cws_total,note
0,LA,1,R0393,8110050086,زهراء,علوش,2023-09-20,2023-09-21,2,NaN
1,LA,2,R0497,8110020115,هلا,الحلبي,2023-09-20,2023-09-21,2,NaN
2,LA,3,R0367,8110020110,امينة,صباهي,2023-09-20,2023-09-21,2,NaN
3,LA,4,R0391,8110050067,رقية,العبد لله,2023-09-20,2023-09-21,2,NaN
4,LA,5,R0359,8110050048,رنا,العيسى,2023-09-20,2023-09-21,2,NaN
...,...,...,...,...,...,...,...,...,...,...
69,YQ,29,R0290,8110020085,أسماء,العيسى,2023-11-15,2023-11-16,2,NaN
70,YQ,30,R0540,8110050091,غزالة,السقا,2023-11-15,2023-11-16,2,NaN
71,YQ,31,R0113,8110020060,نبيهة,الحسن,2023-11-15,2023-11-16,2,NaN
72,YQ,32,R0300,8110020093,مروة,التريس,2023-11-15,2023-11-16,2,NaN
73,YQ,33,R0591,8110050092,نور,العلبي,NaT,2023-11-16,1,NaN