In [2]:
from src.all_in_one import *

No password for tt_pt_FM_v04.11.xlsx

In [10]:
file_path = (
    "data/raw/1224/other_services/TS_FC_meetingOutreachReferralFollowUpAdvocacy.xlsx"
)
cm = pd.read_excel(file_path, sheet_name="IngoingOutgoingInternalReferral")
# Drop rows where all column except the first ('#') are empty.
cm = cm.dropna(subset=cm.columns[1:], how="all")
cm.shape

(961, 16)

In [4]:
cm.columns

Index(['#', 'referral_ID', 'FC_ID', 'beneficiaryName', 'gender', 'Age',
       'country', 'OutgoingInternalIngoing', 'personal/familyMember',
       'familyMemberNumber', 'group/individual', 'need',
       'socialAssessmentDate', 'referralDate', 'referredToFromEntity', 'note'],
      dtype='object')

In [5]:
cm.value_counts("OutgoingInternalIngoing")

OutgoingInternalIngoing
outgoing    627
internal     96
ingoing       2
Name: count, dtype: int64

In [14]:
internal = cm[cm["OutgoingInternalIngoing"] == "internal"]

In [16]:
# Filter out internal and ingoing referrals.
# They are not relevant, and should not be included in the first place
filter_criteria = ["internal", "ingoing"]
outref = cm[~cm["OutgoingInternalIngoing"].isin(filter_criteria)]
outref = outref.drop(columns=["OutgoingInternalIngoing"])

In [6]:
# tst_cm = cm
# flatten_ref_dir_test = pd.get_dummies(tst_cm["OutgoingInternalIngoing"])
# result = tst_cm.join(flatten_ref_dir_test)
# result

*Ingoing referrals needs to be disregarded. The name is wrong and no meaning to have receved referral in our contex.*

In [20]:
value_counts = outref["referral_ID"].value_counts()
value_counts_df = value_counts.reset_index()
value_counts_df.columns = ["value", "count"]
value_counts_df

     value  count
0    R0378      8
1    R0005      7
2    R0007      7
3    R0359      7
4    R0113      7
..     ...    ...
500  R1470      1
501  R0008      1
502  R0034      1
503  R0391      1
504  R1495      1

[505 rows x 2 columns]