In [2]:
from src.all_in_one import *

No password for tt_pt_FM_v04.11.xlsx

In [ ]:
file_path = (
    "data/raw/1224/other_services/TS_FC_meetingOutreachReferralFollowUpAdvocacy.xlsx"
)
cm = pd.read_excel(file_path, sheet_name="IngoingOutgoingInternalReferral")
# Drop rows where all column except the first ('#') are empty.
cm = cm.dropna(subset=cm.columns[1:], how="all")
cm.shape

(961, 16)

In [25]:
cm.columns

Index(['#', 'referral_ID', 'FC_ID', 'beneficiaryName', 'gender', 'Age',
       'country', 'OutgoingInternalIngoing', 'personal/familyMember',
       'familyMemberNumber', 'group/individual', 'need',
       'socialAssessmentDate', 'referralDate', 'referredToFromEntity', 'note'],
      dtype='object')

In [26]:
cm.value_counts("OutgoingInternalIngoing")

OutgoingInternalIngoing
outgoing    627
internal     96
ingoing       2
Name: count, dtype: int64

In [27]:
tst_cm = cm
flatten_ref_dir_test = pd.get_dummies(tst_cm["OutgoingInternalIngoing"])
result = tst_cm.join(flatten_ref_dir_test)
result

,#,referral_ID,FC_ID,beneficiaryName,gender,Age,country,OutgoingInternalIngoing,personal/familyMember,familyMemberNumber,group/individual,need,socialAssessmentDate,referralDate,referredToFromEntity,note,ingoing,internal,outgoing
0,1,R0007,8110020016.0,نور أشقر,Female,26.0,Turkey,NaN,NaN,NaN,NaN,Other,NaT,2020-01-13,Uossm,Her two daughters were injured in the war and need physiotherapy,False,False,False
1,2,R0007,8110020016.0,نور أشقر,Female,26.0,Turkey,NaN,NaN,NaN,NaN,Other,NaT,2020-02-19,IDA,Her two daughters were injured in the war and need physiotherapy,False,False,False
2,3,NaN,8110030014.0,سهام حمام,Female,NaN,Turkey,NaN,NaN,NaN,NaN,MHPSS,NaT,2020-01-31,SAMS,NaN,False,False,False
3,4,R0001,8110020026.0,كوثر العيسى,Female,40.0,Turkey,NaN,NaN,NaN,NaN,Other,NaT,2020-02-04,IDA,She was contacted three times and made an appointment and she didn't go,False,False,False
4,5,R0019,8110020031.0,دينا حياني,Female,34.0,Turkey,NaN,NaN,NaN,NaN,MHPSS,NaT,2020-02-19,SAMS,For Her son,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,957,R1551,NaN,لجين الحمصي,Female,38.0,Europe,internal,personal,NaN,IR,Legal documentation,NaT,2024-12-06,ADMSP,NaN,False,True,False
957,958,R0378,8110050066.0,عائشة الخاطر,Female,38.0,Turkey,outgoing,personal,NaN,IR,MHPSS,NaT,2024-12-20,SAMS,NaN,False,False,True
958,959,R0799,8110080024.0,ندى خليفة,Female,36.0,Turkey,internal,personal,NaN,IR,Legal documentation,NaT,2024-12-20,ADMSP,NaN,False,True,False
959,960,R1023,8110050107.0,باري عبد اللطيف,Male,41.0,Turkey,internal,personal,NaN,IR,Legal documentation,NaT,2024-12-20,ADMSP,NaN,False,True,False
960,961,R0626,8110110003.0,عزيزة هنداوي,Female,33.0,Turkey,outgoing,personal,NaN,IR,MHPSS,NaT,2025-01-09,SAMS,NaN,False,False,True

*Ingoing referrals needs to be disregarded. The name is wrong and no meaning to have receved referral in our contex.*